#navbar {
    background: #2c313b;
}

#navbar-lateral {
    background: #2C313B;
    .itens-menu {
        height: 80%;
        justify-content: flex-start;
    }
    .nav-item {
        margin-top: 15px;
    }
    .home, .book {
        display: flex;
        p {
            margin-right: 55px;
        }
    }
    .icon-down {
        cursor: pointer;
    }
    .home-desativada, .book-desativada {
        display: none;
    }
    .item-link {
        display: flex;
    }
    .item-link-ativado {
        color: #f58e08;
        font-weight: 600;
    }
    .home-down,
    .sobre-down , .book-down{
        margin: 10px 0 0 10px;
        p {
            margin-top: 5px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 12px;

            color: #d7d5d4;
        }
    }
    .sobre-down {
        overflow-y: scroll;
        height: 100px;
    }
    .sobre-down::-webkit-scrollbar {
        width: 3px;
        background-color: #f0f0f0;
    }
    .sobre-down::-webkit-scrollbar-thumb {
        -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;
        background-color: #f0f0f05e;
    }
    .mais-cursinho {
        cursor: pointer;
    }
}

#navbar {
    background: #282c35;
}