.tabela-header{
    display: flex;
    align-items: center;
    gap: 2%;
}
.tabela-header button{
    background: none;
    border: none;
    cursor: pointer;
}
.tabela-org button{
    background-color: #EAEAEA;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.search-box{
    display: flex;
    background-color: #EAEAEA;
    border-radius: 10px;
    height: 2.5vh;
    width: 30%;
    padding: 2px 5px;

}
.search-box input{
    background: none;
    border: none;
    width: 95%;
}
.search-box input:focus{
    outline: none;
}
.curso-tabela{
    text-align: center;
    background-color: #EAEAEA;
    margin: 2% 0;
    padding: 15px;
    width: 15%;
    max-width: 100px;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px #00000040;
    
}
.curso-tabela p{
    font-size: 12px;
    font-weight: 600;
    margin: 5% 0;
}
.curso-tabela h3{
    font-size: 18px;
}
.tab{
    display: flex;
    gap: 3%;
    margin: 0 auto;  
    flex-wrap: wrap;
    margin-left: 8%;
}
.linha{
    border-bottom: 1px solid #282C35;
    width: 100%;
}
.tabela-cursos{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
}
.controler{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.pages ul{
    display: flex;
    list-style: none;
    gap: 10%;
    justify-self: center;
}
.pages li{
    width: 1.7vw;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.active-page{
    background-color: #F58E08;
    border-radius: 50%;
}
.btn-add-curso{
    display: flex;
    justify-content: flex-end;
    margin-top: -3.2%;
}
.btn-add-curso button{
    background:none;
    border: none;
    font: 500 14px 'Montserrat';
    display: flex;
    align-items: center;
}
.btn-add-curso-mobile{
    display: none;
}
.btn-add-curso-mobile button{
    background:none;
    border: none;
    font: 500 16px 'Montserrat';
    display: flex;
    align-items: center;
}
#edit{
    width: 100%;
}
.footerCard{
    margin-left: 85%;
    margin-top: -20%;
}
.footerCard button{
    background: none;
    border: none;
    cursor: pointer;
}
@media (max-width:1390px){
    .btn-add-curso{
        display: flex;
        justify-content: flex-end;
        margin-top: 0%;
    } 
}
@media (max-width:1025px){
    .btn-add-curso{
        display: none;
    }
    .btn-add-curso-mobile{
        display: flex;
        justify-content: right;
    }
}
@media (max-width:768px){
    
    .curso-tabela{
        width: 30%;
    }
    .tabela-cursos{
        margin-left: -3%;

    }
    .search-box{
        width: 60%;
    }
}