input[type="radio"],
input[type="checkbox"] {
  display: none;
  /* Esconde os inputs */
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 1px solid #d7d5d4;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 5px;
}

input[type="radio"]:checked + label:before {
  background: #d7d5d4;
}

.esquerda-paginacao {
  margin-right: 10px;
}

.direita-paginacao {
  margin-left: 10px;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination .esquerda-paginacao,
.pagination .direita-paginacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 !important;
}

#questao .titulo_disciplina_admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#questao .filtro_disciplina {
  display: flex;
  align-items: center;
}

#questao .img_filtro {
  width: auto;
  height: 11px;
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#questao .buscar {
  height: 24px;
  max-width: 500px;
  width: 100%;
  background: #eaeaea;
  border-radius: 10px;
  border: none;
  padding: 2% 5% 2% 5%;
  margin-right: 10px;
}

#questao .buscar::placeholder {
  color: #2c313b;
  font-family: "Montserrat", sans-serif;
}

#questao select {
  margin-left: 20px;
  background: #eaeaea;
  border-radius: 10px;
  border: none;
  height: 24px;
  padding: 0 1%;
  font-size: 16px;
  line-height: 20px;
  color: #202020;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #282c35;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  width: 150px;
  background: #e9e9e900 url("../img/admin-dashboard/sdrop.svg") 95.5% 50% no-repeat;
}

#questao .section-conteudo-admin {
  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1% 0;
  position: relative;
}

#questao .input-listagem {
  display: flex;
  position: relative;
}

#questao .content-admin {
  margin: 0 2%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  color: #a6a6a6;
  font-size: 14px;
  position: relative;
}

#questao .content-admin span {
  font-weight: bold;
  margin-right: 5px;
}

#questao .content-admin .parte-cima {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#questao .qtd-questoes-admin {
  background: #eaeaea;
  border-radius: 10px;
  padding: 0 1%;
  display: flex;
  align-items: center;
  height: 24px;
  white-space: nowrap;
}

#questao .lupa-search {
  position: absolute;
  left: 147px;
  top: 4px;
  border: none;
  background: none;
  cursor: pointer;
  height: 2px;
  width: auto;
}

#questao .questao_admin {
  background: #eaeaea;
  color: #2c313b;
  margin: 5px 0;
  padding: 1% 2%;
  font-size: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#questao .paginacao {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#questao ul.pagination {
  padding: 0;
  margin: 0;
}

#questao ul.pagination li {
  display: inline;
}

#questao ul.pagination li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #2c313b;
  padding: 1px 5px 2px;
  text-decoration: none;
}

#questao .p-paginacao {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #4e5057;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

#questao ul.pagination li a.active-paginacao {
  background: #f58e08;
  border-radius: 100%;
}

#questao ul.pagination li a:hover:not(.active-paginacao) {
  background-color: #fff;
  border-radius: 100%;
}

@media (max-width: 700px) {
  #questao .qtd-questoes-admin {
    font-size: 12px;
    display: flex;
  }
  #questao .content-admin .parte-cima {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  #questao .buscar {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .pagination .esquerda-paginacao,
  .pagination .direita-paginacao {
    height: 30px !important;
  }
  .pagination .esquerda-paginacao img,
  .pagination .direita-paginacao img {
    height: 10px !important;
  }
  #questao .content-admin {
    margin: 0 5%;
  }
  #questao .section-conteudo-admin {
    width: 100%;
  }
  #questao .questao_admin {
    font-size: 12px;
  }
  #questao .buscar::placeholder {
    font-size: 12px;
  }
  #questao ul.pagination li a {
    font-size: 11px;
  }
  #questao .paginacao {
    margin-top: 5px;
  }
  #questao form {
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  #questao .lupa-search {
    left: 130px;
  }
  #questao .buscar::placeholder {
    font-size: 10px;
  }
  #questao .questao_admin {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  #questao .lupa-search {
    left: 100px;
  }
}
