body {
  background-color: #282c35;
}

#questao .icones a {
  color: #e4e0e0;
}

#questao .modulos {
  padding: 10px 0;
  width: 100%;
}

#questao .esconder-modulo {
  display: none;
}

#questao .modulo {
  margin: 2px 150px 0 150px;
}

#questao .borda {
  border-bottom: 3px solid #f58e08;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#questao .progresso {
  background: #e4e0e0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#questao .progressoC {
  background: #e4e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#questao .capitulos {
  display: none;
}

#questao .capitulos.ativar {
  display: block;
}

#questao .capitulo-esquerda img {
  width: 14px;
  height: 13px;
}

#questao .expandir-barraCd,
#questao .expandir-barraMd {
  display: none;
}

#questao .capitulo-direita img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

#questao .capitulo-esquerda,
#questao .capitulo-direita {
  display: flex;
  align-items: center;
}

#questao .dentro-capitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 7px 0;
}

#questao .num-capitulo {
  margin: 0 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #2c313b;
}

#questao .titulo-capitulo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin: 0 10px;
}

#questao .qtd-capitulo {
  margin: 0 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #787982;
}

#questao .informacoes {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  width: 100%;
}

#questao .carousel {
  margin: 30px 60px !important;
  background: #e4e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #92949a;
}

#questao .materia {
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}

#questao .materias .materia.active {
  color: #41454e;
}

#questao .modulos.hide {
  display: none;
}

#questao .materia-selecionada {
  color: #41454e;
}

#questao .paragrafo-materia {
  display: flex;
  justify-content: center;
  position: relative;
}

#questao .paragrafo-materia::after {
  position: absolute;
  content: "";
  height: 3px;
  background: #0095db;
  top: 90%;
  left: 20px;
  width: 0;
  transition: 0.5s ease;
  margin-top: 2px;
}

#questao .modulo-completo {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

#questao .concluido,
#questao .concluidoC {
  visibility: hidden;
}

#questao .paragrafo1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #595b5f;
  font-size: 15px;
  margin: 0 0 0 10px;
}

#questao .paragrafo3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  background: none;
  color: #787982;
}

#questao .nao-selecionada {
  border: none;
}

#questao .imagem {
  display: flex;
  margin: 0 5px;
  align-items: center;
}

#questao .imagem .paragrafo3 {
  margin: 0 10px;
}

#questao .imagem img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  filter: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#questao .barra-totalM {
  width: 100%;
}

#questao .barra-completaM {
  background: #e6e1dd;
  height: 2px;
  display: flex;
  background-color: #009b55;
}

#questao .barra-concluidasM {
  visibility: hidden;
}

.barra-total {
  width: 100%;
}

.barra-completa {
  background: #e6e1dd;
  height: 2px;
  display: flex;
  background-color: #009b55;
}

.barra-concluidas {
  visibility: hidden;
}

.bar_full {
  margin: 10px 0;
  height: 20px;
  width: 100%;
  display: none;
}

.bar_full.active {
  display: flex;
}

.bar_complete {
  height: 20px;
  background-color: #53d63a;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  color: #2c313b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar_duvidas {
  height: 20px;
  text-align: center;
  font-style: italic;
  background: #f58e08;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar_erros {
  height: 20px;
  background: #fa4954;
  text-align: center;
  font-style: italic;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar_branco {
  height: 18px;
  border: 1px solid #d7d5d4;
  text-align: center;
  color: #e4e0e0;
  font-style: italic;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding-left: 245px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #282c35;
  border-top: 2px solid #fff;
}

footer .texto-rodape {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

footer .logo-rodape {
  display: flex;
  align-items: center;
  margin-left: 7px;
  transition: transform 0.5s;
}

footer .p-logo {
  margin-left: 3px;
  font-weight: 600;
}

footer .logo-rodape:hover {
  transform: scale(1.05);
}

a:visited,
a:hover,
a:link {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1024px) {
  #questao .overlay {
    padding: 0 !important;
  }
  #questao .icones {
    display: flex;
  }
  footer {
    padding-left: 0 !important;
  }
}

@media (max-width: 910px) {
  #questao .overlay {
    margin: 0 !important;
  }
}

@media (max-width: 770px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  body {
    background: #d7d5d4;
  }
  .bar_branco {
    color: #2c313b;
    border-color: #2c313b;
  }
  #questao {
    padding: 0;
  }
  #questao .overlay {
    margin: 0 !important;
    padding-top: 60px !important;
    position: relative;
  }
  #questao .num-capitulo,
  #questao .titulo-capitulo {
    color: #000000;
    font-size: 9px;
    text-align: left;
  }
  #questao .progresso {
    border-radius: 0;
  }
  #questao .modulo {
    align-items: center;
    margin: 0;
  }
  #questao .voltar {
    padding: 40px 20px 0;
  }
  #questao .paragrafo3 {
    color: #aaabb3;
    font-size: 13px !important;
  }
  #questao .mobile {
    display: flex;
  }
  #questao .desktop {
    display: none;
  }
  #questao .seta-voltar {
    cursor: pointer;
  }
  #questao .materias-drop {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0;
    margin-bottom: 20px;
  }
  #questao .qtd-capitulo {
    color: #aaabb3;
  }
  #questao .materia {
    display: flex;
    justify-content: space-between;
    width: 35% !important;
    align-items: center;
    cursor: pointer;
  }
  #questao .materia-mostrar {
    width: 35%;
    background-color: #d7d5d4;
  }
  #questao .materia-selecionada-drop {
    opacity: 0.8;
  }
  #questao .borda-drop {
    border-bottom: 2px solid #282c35;
  }
  #questao .p-materia {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #282c35;
  }
  #questao .bar_full {
    width: 95%;
    margin: 10px;
  }
  footer {
    border-top: 1px solid #c0c0c0;
    background-color: #d7d5d4;
  }
  footer .texto-rodape {
    color: #28292f;
  }
  footer .p-logo {
    font-weight: 600;
    color: #28292f;
  }
}

@media (max-width: 499px) {
  #questao .voltar {
    padding: 0;
  }
}

@media (max-width: 450px) {
  #questao .informacoes {
    margin: 0 5px;
  }
  #questao .paragrafo1 {
    font-size: 10px;
  }
  #questao .paragrafo3 {
    font-size: 11px !important;
  }
  #questao .imagem {
    margin: 0 5px;
  }
  #questao .bar_complete,
  #questao .bar_duvidas,
  #questao .bar_erros,
  #questao .bar_branco {
    font-size: 12px;
  }
  #questao .voltar {
    padding-top: 20px;
  }
  footer .texto-rodape {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  footer .p-logo {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  #questao .seta-mostrar {
    margin-left: 10px;
  }
}

/*----------------------Dropdown----------------------*/
.dropdown-content {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ---------------- Selector ----------------------- */
#questao .materia-selecionada,
#materias-selector {
  color: #41454e;
}

#questao .materia-mostrar,
#materias-selector {
  width: 35%;
  background-color: #d7d5d4;
}

#materias-selector,
#materias-selector option {
  width: 38%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #282c35;
  opacity: 0.8;
  padding: 10px 0;
  outline: none;
}

#materias-selector option {
  outline: none;
}

#questao .borda-drop,
#materias-selector {
  border: none;
  border-bottom: 2px solid #282c35;
}

#questao .p-materia,
#materias-selector {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #282c35;
}
