body,
html {
  background: #282c35;
}

.mobile {
  display: none;
}

#questao input:-webkit-autofill,
#questao input:-webkit-autofill:hover,
#questao input:-webkit-autofill:focus,
#questao textarea:-webkit-autofill,
#questao textarea:-webkit-autofill:hover,
#questao textarea:-webkit-autofill:focus,
#questao select:-webkit-autofill,
#questao select:-webkit-autofill:hover,
#questao select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #282c35 inset;
          box-shadow: 0 0 0px 1000px #282c35 inset;
  -webkit-text-fill-color: #e4e0e0;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#questao input:-moz-autofill,
#questao input:-moz-autofill:hover,
#questao input:-moz-autofill:focus,
#questao textarea:-moz-autofill,
#questao textarea:-moz-autofill:hover,
#questao textarea:-moz-autofill:focus,
#questao select:-moz-autofill,
#questao select:-moz-autofill:hover,
#questao select:-moz-autofill:focus {
  box-shadow: 0 0 0px 1000px #282c35 inset;
  -moz-text-fill-color: #e4e0e0;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#questao input:-ms-autofill,
#questao input:-ms-autofill:hover,
#questao input:-ms-autofill:focus,
#questao textarea:-ms-autofill,
#questao textarea:-ms-autofill:hover,
#questao textarea:-ms-autofill:focus,
#questao select:-ms-autofill,
#questao select:-ms-autofill:hover,
#questao select:-ms-autofill:focus {
  box-shadow: 0 0 0px 1000px #282c35 inset;
  -ms-text-fill-color: #e4e0e0;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#questao .icones a {
  color: #e4e0e0;
}

#questao .titulo.desktop {
  padding-left: 0;
}

#questao .titulo.desktop h1 {
  color: #e4e0e0;
  font: 600 35px "Montserrat", sans-serif;
}

#questao .conteudo-perfil {
  margin: 45px 60px 20px 50px;
}

#questao .campos-preenchimento {
  margin: 0 0;
}

#questao .campo, #questao .campo-select {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#questao #questao .button_salvar_cursinho_perfil {
  border: none;
  background: #f58e08;
  border-radius: 17px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 5px 30px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}

#questao .cursinho-perfil-aluno-error {
  color: red;
  margin: 0px;
}

#questao .campo input {
  border: none;
  background-color: #282c35;
  border-bottom: 1px solid #e4e0e0;
  -webkit-border-bottom: 1px solid #e4e0e0;
  -moz-border-bottom: 1px solid #e4e0e0;
  -ms-border-bottom: 1px solid #e4e0e0;
  color: #e4e0e0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 300px;
  font-weight: 300;
  margin: 0 5px;
  padding: 0 0 6px 10px;
}

#questao .campo-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#questao .campo-select select {
  background: #d7d5d4;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #282c35;
  padding: 2px 5px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
}

#questao .campo-select option {
  width: 38%;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #282c35;
}

#questao .campo-select select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

#questao .habilitar-edicao {
  position: absolute;
  left: 400px;
  cursor: pointer;
}

#questao .exclamacao, #questao .check-desktop {
  position: absolute;
  left: 400px;
}

#questao .check-desktop {
  display: none;
}

#questao .check-mobile {
  display: none;
}

#questao ::-webkit-input-placeholder {
  color: #d7d5d4;
}

#questao :-moz-placeholder {
  color: #d7d5d4;
}

#questao ::-moz-placeholder {
  color: #d7d5d4;
}

#questao :-ms-input-placeholder {
  color: #d7d5d4;
}

#questao .campo-meu-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e4e0e0;
  font-weight: 600;
  font-size: 16px;
}

#questao .campo label:not(.radio), #questao .campo-select label:not(.radio) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #e4e0e0;
  margin-right: 5px;
  white-space: nowrap;
}

#questao input[type="radio"],
#questao input[type="checkbox"] {
  display: none;
  /* Esconde os inputs */
}

#questao label {
  cursor: pointer;
}

#questao input[type="radio"] + label:before {
  border: 1px solid #d7d5d4;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 5px;
}

#questao input[type="radio"]:checked + label:before {
  background: #d7d5d4;
}

#questao .radio-meu-perfil {
  margin-top: 5px;
}

#questao .alternativas-radio {
  margin: 12px 0;
}

#questao .radio {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #d7d5d4;
}

#questao input[type="password"] {
  font-family: Verdana, sans-serif;
  height: 15px;
  font-size: 15px;
  padding: 2px;
  letter-spacing: 2px;
}

#questao textarea:focus,
#questao input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

#questao .button_salvar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 150px;
  height: 34px;
  background: #F58E08;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: 1px solid #F58E08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  display: none;
}

#questao .button_sair {
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  /* identical to box height */
  color: #d7d5d4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-box {
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.imagem-do-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#file-img {
  display: none;
  cursor: pointer;
}

.file-image {
  position: absolute;
  top: 10px;
  right: -10px;
}

.campo-label {
  width: 62px;
}

.select-numero {
  overflow-y: auto;
}

.select-option {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.option-text {
  width: 30%;
  height: auto;
}

.opcao-edite {
  width: 70%;
}

.botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.btn-padrao {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 150px;
  height: 34px;
  background: #F58E08;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: 1px solid #F58E08;
  cursor: pointer;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-senha {
  background: none;
  width: 182px;
}

.label-lapis {
  width: 44.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label-lapis button {
  border: none;
  background: none;
  cursor: pointer;
}

#alt-radio-checked .campo label:not(.radio), #alt-radio-checked .campo-select label:not(.radio) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #282c35;
  margin-right: 5px;
  white-space: nowrap;
}

#alt-radio-checked input[type="radio"],
#alt-radio-checked input[type="checkbox"] {
  display: none;
  /* Esconde os inputs */
}

#alt-radio-checked label {
  cursor: pointer;
}

#alt-radio-checked input[type="radio"] + label:before {
  border: 1px solid #282c35;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 5px;
}

#alt-radio-checked input[type="radio"]:checked + label:before {
  background: #282c35;
}

#alt-radio-checked .radio-meu-perfil {
  margin-top: 5px;
}

#alt-radio-checked .alternativas-radio {
  margin: 12px 0;
}

#alt-radio-checked .radio {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #282c35;
}

@media (max-width: 1024px) {
  #questao {
    padding: 0 5%;
  }
  #questao .titulo.desktop {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .titulo.mobile {
    display: none;
  }
  #questao .icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 770px) {
  body,
  html {
    background: #ebe7e4;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao input:-webkit-autofill,
  #questao input:-webkit-autofill:hover,
  #questao input:-webkit-autofill:focus,
  #questao textarea:-webkit-autofill,
  #questao textarea:-webkit-autofill:hover,
  #questao textarea:-webkit-autofill:focus,
  #questao select:-webkit-autofill,
  #questao select:-webkit-autofill:hover,
  #questao select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ebe7e4 inset;
            box-shadow: 0 0 0px 1000px #ebe7e4 inset;
    -webkit-text-fill-color: #282c35;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  #questao input:-moz-autofill,
  #questao input:-moz-autofill:hover,
  #questao input:-moz-autofill:focus,
  #questao textarea:-moz-autofill,
  #questao textarea:-moz-autofill:hover,
  #questao textarea:-moz-autofill:focus,
  #questao select:-moz-autofill,
  #questao select:-moz-autofill:hover,
  #questao select:-moz-autofill:focus {
    box-shadow: 0 0 0px 1000px #ebe7e4 inset;
    -moz-text-fill-color: #282c35;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  #questao input:-ms-autofill,
  #questao input:-ms-autofill:hover,
  #questao input:-ms-autofill:focus,
  #questao textarea:-ms-autofill,
  #questao textarea:-ms-autofill:hover,
  #questao textarea:-ms-autofill:focus,
  #questao select:-ms-autofill,
  #questao select:-ms-autofill:hover,
  #questao select:-ms-autofill:focus {
    box-shadow: 0 0 0px 1000px #ebe7e4 inset;
    -ms-text-fill-color: #282c35;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  #questao .titulo.mobile {
    border-bottom: 1px solid #323641;
    -webkit-border-bottom: 1px solid #323641;
    -moz-border-bottom: 1px solid #323641;
    -ms-border-bottom: 1px solid #323641;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .titulo.desktop {
    display: none;
  }
  #questao .conteudo-perfil {
    margin: 0;
  }
  #questao .campo label:not(.radio),
  #questao .radio, #questao .campo-select label:not(.radio) {
    font-size: 14px;
    color: #282c35;
  }
  #questao input[type="radio"] + label:before {
    border: 1px solid #282c35;
  }
  #questao input[type="radio"]:checked + label:before {
    background: #282c35;
  }
  #questao .button_sair {
    color: #282c35;
    text-shadow: none;
    font-size: 14px;
  }
  #questao .button_salvar {
    font-size: 14px;
  }
  #questao .campo input {
    border: none;
    background-color: #ebe7e4;
    border-bottom: 1px solid #282c35;
    color: #282c35;
    font-size: 14px;
    width: 100%;
  }
  #questao .habilitar-edicaoM {
    cursor: pointer;
  }
  #questao .check-desktop {
    display: none;
  }
  #questao .exclamacao, #questao .check-mobile {
    position: absolute;
    left: initial;
    right: 2%;
  }
  #questao .check-mobile {
    display: none;
  }
  #questao ::-webkit-input-placeholder {
    color: #282c35;
  }
  #questao :-moz-placeholder {
    color: #282c35;
  }
  #questao ::-moz-placeholder {
    color: #282c35;
  }
  #questao :-ms-input-placeholder {
    color: #282c35;
  }
  #questao .mobile.seta-voltar {
    display: none;
  }
  #questao .btn-senha {
    color: #282C35;
  }
  footer {
    background-color: #ebe7e4;
  }
  .mp-mobile {
    color: #282C35;
  }
}

@media (max-width: 499px) {
  #questao .campo-select {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #questao .campo-select select {
    padding: 0;
    margin-left: 2px;
    font-size: 14px;
  }
  #questao .campo-select label:not(.radio) {
    width: 50%;
    white-space: initial;
  }
}

@media (max-width: 450px) {
  #questao .titulo {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  #questao .conteudo-perfil {
    margin: 0;
  }
}
/*# sourceMappingURL=aluno-perfil.css.map */