#questao .titulo {
  font-size: 15px;
}

#questao .conteudo-desempenho {
  margin: 42px 15%;
  display: flex;
  flex-direction: column;
}

#questao .caixas-todas {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#questao .caixa {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 72px;
  max-width: 190px;
  min-width: 85px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

#questao .caixa.acertos {
  background-color: #53d63a;
}

#questao .caixa.erros {
  background-color: #fa4954;
}

#questao .caixa.duvidas {
  background-color: #f58e08;
  margin: 0 10px;
}

#questao .cards-todos {
  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  padding: 25px;
}

#questao .card {
  width: 47px;
  height: 38px;
  margin: 10px 2px;
  background: #e6e1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #7f7878;
  position: relative;
}

#questao .acerto {
  border-bottom: 12px solid #53d63a;
}

#questao .erro {
  border-bottom: 12px solid #fa4954;
}

#questao .branco {
  border-bottom: 12px solid #c4c4c4;
  color: #453939;
}

#questao .duvida {
  height: 6px;
  width: 100%;
  background-color: #f58e08;
  bottom: -12px;
  position: absolute;
}

#questao .nivel-dificuldade {
  color: #787982;
  font-weight: bold;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

#questao .titulo-nivel {
  margin-bottom: 18px;
  font-style: normal;
  font-size: 20px;
}

#questao .facil,
#questao .medio,
#questao .dificil {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color: #787982;
}

#questao .quantidade-questions {
  margin-left: 7px;
  color: #484a4e80;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

#questao .bar_dificuldade {
  margin: 7px 0 20px 0;
  border: 1px solid #c0c2c8;
  border-radius: 10px;
  background: #e6e1dd;
  position: relative;
}

#questao .bar_concluidas {
  width: 100%;
  height: 18px;
  background: #53d63a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#questao .nivel {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #2c313b;
  right: 50%;
  left: 50%;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #282c35;
}

footer {
  margin-top: 40px;
  padding-left: 245px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c35;
  border-top: 2px solid #282c35;
}

footer .texto-rodape {
  display: flex;
  font: normal 14px "Montserrat", sans-serif;
  line-height: 17px;
}

footer .logo-rodape {
  display: flex;
  align-items: center;
  margin-left: 7px;
  transition: transform 0.5s;
}

footer .p-logo {
  margin-left: 3px;
  font-weight: 600;
}

footer .logo-rodape:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  #questao .overlay {
    padding: 0 !important;
  }
  #questao .icones {
    display: none;
  }
  footer {
    padding-left: 0 !important;
  }
}

@media (max-width: 770px) {
  footer {
    border-top: 1px solid #282c35;
  }
}

@media (max-width: 700px) {
  #questao .conteudo-desempenho {
    margin: 50px 0;
  }
  #questao .caixa .texto-acertos,
  #questao .caixa .texto-duvidas,
  #questao .caixa .texto-erros {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 500px) {
  #questao .cards-todos {
    box-shadow: none;
  }
  #questao .card {
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #questao .conteudo-desempenho {
    margin-left: 5%;
    margin-right: 5%;
  }
  #questao .titulo-nivel, #questao .facil, #questao .medio, #questao .dificil {
    font-size: 12px;
  }
  #questao .bar_concluidas {
    height: 10px;
  }
  #questao .nivel {
    font-size: 10px;
    line-height: 12px;
  }
  #questao .bar_dificuldade {
    border: none;
  }
}

@media (max-width: 480px) {
  footer .texto-rodape {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  #questao .titulo h1 {
    font-size: 15px;
  }
}
