.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-barra {
  width: calc(100% - 230px);
  position: absolute;
  left: 230px;
}

.barra-total {
  width: 100%;
  position: relative;
}

.barra-completa {
  background: #e6e1dd;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f58e08;
}

.barra-concluidas {
  visibility: hidden;
}

#questao .titulo.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: none;
}

#questao .titulo.desktop div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
  cursor: pointer;
}

#questao .titulo.desktop div p {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #4e5057;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#questao .tempo-valor {
  display: none;
}

#questao .relogio-simulado:hover + .tempo-valor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#questao .relogio-simulado:hover .p-finalizar-simulado {
  display: none;
}

#questao .finalizar-abrir-modal {
  position: absolute;
  left: 70%;
}

#questao .p-finalizar-simulado {
  white-space: nowrap;
}

footer .paginacao {
  position: relative;
  margin-right: 50px;
}

footer .pagination::after {
  content: url("../img/aluno-questao/paginacao.svg");
  cursor: pointer;
  display: inline-block;
  top: 1px;
  left: 110%;
  position: absolute;
}

footer .pagination::before {
  content: url("../img/aluno-questao/paginacao.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  cursor: pointer;
  top: 2px;
  right: 112%;
  position: absolute;
}

footer ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

footer ul.pagination li {
  display: inline;
}

footer ul.pagination li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #2c313b;
  padding: 1px 5px 2px;
  text-decoration: none;
}

footer .p-paginacao {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #4e5057;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

footer ul.pagination li a.active-paginacao {
  background: #f58e08;
  border-radius: 100%;
}

footer ul.pagination li a:hover:not(.active-paginacao) {
  background-color: #fff;
  border-radius: 100%;
}

footer .centro-simulado-rodape {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 112%;
  /* identical to box height, or 15px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  color: #4e5057;
}

footer .qtd-quest {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .qtd-quest h4 {
  margin: 0 10px;
}

footer .finalizar-simulado-mobile {
  display: none;
}

footer .tempo-valor.active-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .container-barra {
    width: 100%;
    left: 0;
  }
  #questao .titulo.desktop {
    display: none;
    margin-right: 0;
  }
  #questao .porcentagem-final {
    margin-left: 10px;
  }
  #questao .numero-questao {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #questao .numero-questao .mobile {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    cursor: pointer;
  }
  .progress-bar {
    background-color: #f58e08;
    width: 100%;
    margin-left: 0;
    height: 2px;
  }
}

@media (max-width: 840px) {
  footer .finalizar-simulado-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    cursor: pointer !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .finalizar-simulado-mobile img {
    width: 20px !important;
  }
  footer .finalizar-simulado-mobile .tempo-valor-restante {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .finalizar-simulado-mobile .tempo-clique {
    display: none;
  }
}

@media (max-width: 610px) {
  .container-barra {
    display: none;
  }
}

@media (max-width: 500px) {
  #questao .numero-questao p {
    font-size: 12px !important;
  }
  footer .paginacao {
    margin-right: 30px;
  }
  footer .pagination::after {
    display: none;
  }
  footer .pagination::before {
    display: none;
  }
}
/*# sourceMappingURL=aluno-questao-simulado.css.map */