body {
    background-color: #282c35;
}

#questao {
    .icones {
        a {
            color: #e4e0e0;
        }
    }
    .modulos {
        padding: 20px 0;
        width: 100%;
    }
    .modulo {
        margin: 2px 150px 0 150px;
    }
    .borda {
        border-bottom: 3px solid #f58e08;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .progresso {
        background: #e4e0e0 !important;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px 5px 0px 0px;

        width: 100%;

        display: flex;
        justify-content: space-between;

        padding: 10px 0;
    }
    .progressoC {
        background: #e4e0e0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .capitulos {
        display: none;
    }
    .capitulos.ativar {
        display: block;
    }
    .capitulo-esquerda img {
        width: 14px;
        height: 13px;
    }
    .expandir-barraCd, .expandir-barraMd {
        display: none;
    }
    .capitulo-direita img {
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

        cursor: pointer;
    }
    .capitulo-esquerda,
    .capitulo-direita {
        display: flex;
        align-items: center;
    }
    .dentro-capitulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;

        padding: 7px 0;
    }
    .num-capitulo {
        margin: 0 10px;

        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #2c313b;
    }
    .titulo-capitulo {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #000000;

        margin: 0 10px;
    }
    .qtd-capitulo {
        margin: 0 5px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #787982;
    }
    .informacoes {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        width: 100%;
    }
    .carousel {
        margin: 30px 60px !important;
        background: #e4e0e0;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0 10px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        color: #92949a;
    }
    .materia {
        padding: 10px 0;
        cursor: pointer;

        position: relative;
    }
    .materia-selecionada {
        color: #41454e;
    }
    .paragrafo-materia {
        display: flex;
        justify-content: center;

        position: relative;
    }
    .paragrafo-materia::after {
        position: absolute;
        content: "";
        height: 3px;
        background: #0095db;
        top: 90%;
        left: 20px;
        width: 0;
        transition: 0.5s ease;
        margin-top: 2px;
    }
    .modulo-completo {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
    .concluido, .concluidoC {
        visibility: hidden;
    }
    .paragrafo1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        color: #595b5f;
        font-size: 15px;

        margin: 0 0 0 10px;
    }
    .paragrafo3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        background: none;

        color: #787982;
    }
    .nao-selecionada {
        display: none;
    }
    .imagem {
        display: flex;
        margin: 0 5px;
        align-items: center;
        .paragrafo3 {
            margin: 0 10px;
        }
    }
    .imagem img {
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
        filter: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .barra-totalM {
        width: 100%;
    }

    .barra-completaM {
        background: #e6e1dd;
        height: 2px;
        display: flex;
        background-color: #009b55;
    }

    .barra-concluidasM {
        visibility: hidden;
    }
}

.barra-total {
    width: 100%;
}

.barra-completa {
    background: #e6e1dd;
    height: 2px;
    display: flex;
    background-color: #009b55;
}

.barra-concluidas {
    visibility: hidden;
}

.bar_full {
    margin: 10px 0;
    height: 20px;
    width: 100%;

    display: none;
}

.active {
    display: flex;
}
.bar_complete {
    height: 20px;
    background-color: #53d63a;
    border-radius: 10px 0 0 10px;
    text-align: center;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    color: #2c313b;
}

.bar_duvidas {
    height: 20px;
    text-align: center;

    font-style: italic;

    background: #f58e08;
}

.bar_erros {
    height: 20px;
    background: #fa4954;
    text-align: center;
    font-style: italic;
    border-radius: 0;
}

.bar_branco {
    border: 1px solid #d7d5d4;
    text-align: center;
    color: #e4e0e0;
    font-style: italic;

    border-radius: 0 10px 10px 0;
}

footer {
    padding-left: 245px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    background: #282c35;

    border-top: 2px solid #fff;
    .texto-rodape {
        display: flex;
        font-family: Montserrat;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
    }
    .logo-rodape {
        display: flex;
        align-items: center;
        margin-left: 7px;
        transition: transform 0.5s;
    }
    .p-logo {
        margin-left: 3px;
        font-weight: 600;
    }

    .logo-rodape:hover {
        transform: scale(1.05);
    }
}

a:visited,
a:hover,
a:link {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1024px) {
    #questao {
        .overlay {
            padding: 0 !important;
        }
    }
    footer {
        padding-left: 0 !important;
    }
}

@media (max-width: 910px) {
    #questao {
        .overlay {
            margin: 0 !important;
        }
    }
}

@media (max-width: 770px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    body {
        background: #d7d5d4;
    }
    .bar_branco {
        color: #2c313b;
        border-color: #2c313b;
    }
    #questao {
        padding: 0;
        .overlay {
            margin: 0 !important;
            padding-top: 60px !important;
            position: relative;
        }
        .progresso {
            border-radius: 0;
        }
        .modulo {
            align-items: center;
            margin: 0;
        }
        .voltar {
            padding: 40px 20px 0;
        }
        .paragrafo3 {
            color: #aaabb3;
            font-size: 13px !important;
        }
        .mobile {
            display: flex;
        }
        .desktop {
            display: none;
        }
        .seta-voltar {
            cursor: pointer;
        }
        .materias-drop {
            padding: 20px 20px 0;
            display: flex;
            flex-direction: column;
        }
        .materia {
            display: flex;
            justify-content: space-between;
            width: 35% !important;
            align-items: center;

            cursor: pointer;
        }
        .materia1 {
            border-bottom: 2px solid #282c35;
        }
        .materia-mostrar {
            width: 35%;
            background-color: #d7d5d4;
        }
        .materia-mostrar:hover {
            opacity: 0.6;
        }
        .p-materia {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            margin: 5px;

            color: #282c35;
        }
        .bar_full {
            width: 95%;
            margin: 10px;
        }
    }
    footer {
        border-top: 1px solid #c0c0c0;
        background-color: #d7d5d4;

        .texto-rodape {
            color: #28292f;
        }

        .p-logo {
            font-weight: 600;
            color: #28292f;
        }
    }
}

@media (max-width: 499px) {
    #questao {
        .voltar {
            padding: 0;
        }
    }
}

@media (max-width: 450px) {
    #questao {
        .informacoes {
            margin: 0 5px;
        }
        .paragrafo1 {
            font-size: 10px;
        }
        .paragrafo3 {
            font-size: 11px !important;
        }
        .imagem {
            margin: 0 5px;
        }
        .bar_complete,
        .bar_duvidas,
        .bar_erros {
            font-size: 13px;
        }
        .voltar {
            padding-top: 20px;
        }
    }
    footer {
        .texto-rodape {
            font-size: 12px;
        }
    }
}

/*----------------------Dropdown----------------------*/

.dropdown-content {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
