#questao .mobile {
  display: none;
}

#questao .caixa {
  font-size: 20px;
}

#questao .p-graficos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  text-align: end;
  width: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#questao .p-graficos p::after {
  content: url("../../assets/img/aluno-desempenho-simulado/seta-grafico.svg");
  margin-left: 5px;
}

#questao .caixa.branca {
  background-color: #c9c8c7;
}

#questao .caixa.erros {
  margin: 0 10px;
}

#questao .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  position: relative;
}

#questao .titulo-desempenho-simulado {
  font-weight: bold;
  font-size: 25px;
  color: #4e5057 !important;
  padding: 0 !important;
  margin-top: 40px;
  text-align: center;
}

#questao .parte-cima-simulado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#questao .tempo-feito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 14%;
  margin-top: 15px;
}

#questao .tempo-feito .tempo-minutos {
  color: #4e5057;
  font-weight: 500;
  font-size: 20px;
  line-height: 0;
}

#questao .tempo-feito .media-tempo {
  color: #4e5057;
}

#questao .info-tempo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #787982;
  margin-left: 10px;
}

#questao .tempo-feito.mobile {
  display: none;
}

#questao .cabecalho-questao-selecionada {
  height: 40px;
  background: #e6e1dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}

#questao .icones-cabecalho-questao-selecionada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#questao .icones-cabecalho-questao-selecionada img {
  margin-left: 15px;
  cursor: pointer;
}

#questao .icones-cabecalho-questao-selecionada .icone {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#questao .p-cabecalho-questao-selecionada {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #4e5057;
}

#questao .questao-selecionada {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #F2F2F2;
}

#questao .conteudo-questao-selecionada {
  margin: 0 10%;
}

#questao .conteudo-questao-selecionada .enunciado {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#questao .conteudo-questao-selecionada .enunciado .imagem-enunciado {
  text-align: center;
}

#questao .conteudo-questao-selecionada .enunciado .imagem-enunciado img {
  max-width: 470px;
}

#questao .conteudo-questao-selecionada .alternativas {
  margin-left: auto;
  margin-right: auto;
}

#questao .conteudo-questao-selecionada .questionamento {
  display: block;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
}

#questao .icone-sair.mobile {
  display: none;
}

@media (max-width: 1024px) {
  #questao .tempo-feito.desktop {
    display: none;
  }
  #questao .tempo-feito.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .info-tempo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #787982;
  }
  #questao .tempo-feito {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0;
  }
  #questao .tempo-feito img {
    height: 24px;
    width: auto;
  }
  #questao .tempo-feito .tempo-minutos {
    font-size: 10px;
  }
  #questao .conteudo-desempenho {
    margin-bottom: 0;
  }
  #questao .cards-todos {
    padding: 0;
  }
  #questao .caixa {
    font-size: 17px;
  }
}

@media (max-width: 770px) {
  body, html {
    background: #D7D5D4;
  }
  #questao .cards-todos {
    background: none;
  }
  #questao .questao-selecionada {
    border-radius: 10px;
  }
  #questao .cabecalho-questao-selecionada {
    background: #CECECE;
    border-radius: 10px 10px 0 0;
  }
  #questao .icone-sair.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .icone.desktop {
    display: none;
  }
  #questao .p-graficos {
    display: none;
  }
}

@media (max-width: 700px) {
  #questao .caixa .texto-branca {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 499px) {
  #questao .icon-correta.mobile {
    display: block;
    left: 25px;
  }
  #questao .conteudo-questao-selecionada {
    margin: 0 5%;
  }
}
/*# sourceMappingURL=aluno-desempenho-simulado.css.map */