body,
html {
  background: #282c35;
}

input[type="file"]::-webkit-file-upload-button {
  background: #f58e08 !important;
  border-radius: 9px 0 0 9px;
  border: none;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #f2f2f2;
  padding: 5px 10px;
  cursor: pointer;
}

#questao .icones a {
  color: #e4e0e0;
}

#questao .titulo {
  padding-left: 0;
}

#questao .titulo h1 {
  color: #e4e0e0;
  font: 600 35px "Montserrat", sans-serif;
}

#questao .conteudo-sugerir-questao {
  margin: 45px 80px 20px 80px;
}

#questao .campos-preenchimento {
  margin: 50px 0;
}

#questao .campo {
  margin: 40px 0;
  position: relative;
}

#questao .campo input {
  border: none;
  background-color: #282c35;
  border-bottom: 1px solid #e4e0e0;
  color: #e4e0e0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0 !important;
}

#questao .campo label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #e4e0e0;
}

#questao .campo_file input {
  background: #e6e4e4 !important;
  border: 1px solid #282c35 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  border-radius: 10px !important;
  font-size: 12px !important;
  color: #000000 !important;
  padding-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#questao .campo_file input {
  border: none !important;
}

#questao .campo.campo_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#questao .campo textarea {
  background: #e6e4e4;
  border: 1px solid #2c313b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px 10px;
  max-width: 580px;
  width: 100%;
  height: 370px;
  resize: none;
  color: #2c313b;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

#questao textarea {
  overflow-y: auto;
}

#questao textarea:focus,
#questao input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

#questao textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

#questao textarea::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  background-color: #f0f0f05e;
}

#questao .button_enviar {
  border: none;
  background: #f58e08;
  border-radius: 17px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 5px 30px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #questao .titulo h1 {
    font-size: 22.5px;
    color: #282c35;
  }
  #questao .campo textarea {
    border: none;
    background: #EBE7E4;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
  }
}

@media (max-width: 770px) {
  body,
  html {
    background: #ebe7e4 !important;
  }
  #questao .conteudo-sugerir-questao {
    margin: 0;
  }
  #questao .campo_file {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #questao .campo_file .file_input {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=aluno-sugestao-questao.css.map */