a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background: #2c313b;
}

#navbar-lateral ul .item-simulado a {
    color: #F58E08;
}

#questao {
    .icones a {
        color: #e4e0e0;
    }
    .conteudo-simulados {
        margin: 30px 60px !important;
        padding: 10px;
    }
    .simulados {
        background: #f2f2f2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        padding: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        text-align: center;
    }
    .situacao-simulado {
        display: flex;
        justify-content: center;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;
        color: #595b5f;

        padding: 0 5%;

        cursor: pointer;

        span {
            font-size: 13px;
            line-height: 18px;

            color: #bbbcbf;
        }
    }
    .situacao {
        background: rgba(228, 224, 224, 0.8);
        border-radius: 0px 0px 5px 5px;
        display: flex;
        justify-content: space-between;

        padding: 10px;
        div {
            padding: 5px 5%;
        }
    }
    .titulo-simulado-situacao {
        color: #595959;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    .p-simulado-situacao {
        color: #595959;
        font-size: 13px;
    }
    .comecar-simulado {
        align-self: flex-end;

        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        text-align: center;

        color: #2c313b;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        p {
            cursor: pointer;
        }
    }
    .ativar-situacao-simulado {
        color: #bbbcbf;
    }
    .barras-simulado {
        margin-top: 35px;
    }
    .titulo-barra-simulado {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;

        color: #f2f2f2;

        margin-top: 10px;
    }
    .bar_dificuldade {
        margin: 7px 0 20px 0;
        border: 1px solid #c0c2c8;
        border-radius: 10px;

        background: #e6e1dd;
        position: relative;
    }
    .bar_concluidas {
        width: 100%;
        height: 18px;

        background: #53d63a;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    .nivel {
        font-style: italic;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: center;

        color: #2c313b;

        // position: absolute;
        right: 50%;
        left: 50%;
    }
    .nivel-barra {
        visibility: hidden;
    }
    .meus-graficos {
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        
        color: #F2F2F2;

        margin-top: 10px;
        
        display: flex;
        justify-content: flex-end;

        p {
            cursor: pointer;
        }
    }
}

footer {
    margin-top: 40px;
    padding-left: 245px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f2f2f2;

    border-top: 2px solid #f2f2f2;
    .texto-rodape {
        display: flex;
        font: normal 14px "Montserrat", sans-serif;
        line-height: 17px;
    }
    .logo-rodape {
        display: flex;
        align-items: center;
        margin-left: 7px;
        transition: transform 0.5s;
    }
    .p-logo {
        margin-left: 3px;
        font-weight: 600;
    }

    .logo-rodape:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 1024px) {
    #questao {
        .overlay {
            padding: 0;
        }
        .icones {
            display: flex;
        }
        .simulados-select.mobile {
            display: none;
        }
    }
    footer {
        padding-left: 0 !important;
    }
}

@media (max-width: 910px) {
    #questao {
        .overlay {
            margin: 0 !important;
        }
    }
}

@media (max-width: 770px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    #questao {
        padding: 0;
        .overlay {
            margin: 0 !important;
            padding-top: 60px !important;
            position: relative;
        }
        .voltar {
            padding: 40px 20px 0;
        }
        .simulados.desktop {
            display: none;
        }
        .simulados-select.mobile {
            display: flex;
        }
        .conteudo-simulados {
            padding: 10px 20px 0 !important;
            margin: 0 !important;
            padding: 0 5%;
        }
        #simulados-situacao {
            color: #d7d5d4;
            font-size: 15px;

            width: 45%;
            background-color: #2c313b;

            border: none;
            border-bottom: 2px solid #d7d5d4;

            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: bold;

            border-radius: 1px;
            padding: 10px 0;

            option {
                width: 50%;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 18px;
                color: #d7d5d4;
                opacity: 0.8;

                outline: none;
                padding: 0;

                border: 0 none;
            }
        }
        select:focus {
            outline: 0;
        }
        .titulo-barra-simulado {
            font-size: 11px;
        }
        .bar_concluidas {
            height: 10px;
        }
        .nivel {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
        }
    }
    footer {
        border-top: 1px solid #f2f2f2;
        .logo-rodape img {
            height: 13px;
        }
    }
}

@media (max-width: 499px) {
    #questao {
        .voltar {
            padding: 0 !important;
        }
    }
}

@media (max-width: 480px) {
    footer {
        .texto-rodape {
            font-size: 12px;
        }
    }
}

@media (max-width: 450px) {
    #questao {
        .voltar {
            padding-top: 20px !important;
        }
    }
    footer {
        .texto-rodape,
        .logo-rodape {
            font-size: 10px !important;
        }
    }
}

@media (max-width: 360px) {
    #questao {
        #simulados-situacao {
            width: 50%;
        }
    }
}
