#questao .check {
  margin-left: 0;
}

#questao .alternativas {
  background: #eedcdc;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 470px;
  margin-bottom: 20px;
}

#questao .alternativas form {
  padding: 31px 0 0;
}

#questao .alternativas form .custom-radio {
  padding-left: 21px;
}

#questao .alternativas form .correta {
  background: #dfb0b0;
  padding-top: 0.5%;
  padding-bottom: 0.2%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#questao .alternativas .custom-radio input:checked + label:before {
  background: #e17474 !important;
}

#questao .gabarito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 2px solid #d7d5d4;
  width: 100%;
}

#questao .gabarito p {
  padding: 7px 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

#questao .gabarito .p-resposta {
  padding-left: 26px;
}

#questao .mobile {
  display: none;
}

#navbar nav {
  width: initial !important;
  padding: 0 !important;
}

#footer .texto-back p, #footer .texto-next p {
  white-space: nowrap;
}

@media (max-width: 1050px) {
  footer .texto-back p, footer .texto-next p {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  #questao .alternativas {
    width: 100%;
  }
}

@media (max-width: 499px) {
  #questao .alternativas .gabarito {
    border: none !important;
  }
  #questao .gabarito p {
    padding: 0px 21px 21px;
  }
  #questao .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .alternativas {
    background: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin-bottom: 0 !important;
  }
  #questao .enunciado .icon-errada {
    position: absolute;
    left: 3px;
  }
  #questao .correta {
    background: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #questao .gabarito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .alternativas form {
    padding: 0 !important;
  }
  .alternativas form .custom-radio {
    padding: 0 !important;
  }
  .gabarito p {
    padding-left: 0 !important;
  }
}

@media (max-width: 540px) and (min-width: 520px) {
  #questao .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .enunciado .icon-errada {
    position: absolute;
    top: 219px;
    left: 5px;
  }
}

@media (max-width: 768px) and (min-width: 700px) {
  #footer .texto-next p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: end !important;
  }
}
/*# sourceMappingURL=aluno-questao-errada.css.map */