#questao .titulo.desktop {
  display: flex;
  position: relative;
  border: none;
}

#questao .titulo.desktop div {
  display: flex;
  align-items: center;
  margin-right: 70px;
  cursor: pointer;
}

#questao .titulo.desktop div p {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #4e5057;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#questao .tempo-valor {
  display: none;
}

#questao .relogio-simulado:hover + .tempo-valor {
  display: flex;
}

#questao .relogio-simulado:hover .p-finalizar-simulado {
  display: none;
}

#questao .finalizar-abrir-modal {
  position: absolute;
  left: 70%;
}

#questao .p-finalizar-simulado {
  white-space: nowrap;
}

footer .paginacao {
  position: relative;
  margin-right: 50px;
}

footer .pagination::after {
  content: url("../img/aluno-questao/paginacao.svg");
  cursor: pointer;
  display: inline-block;
  top: 1px;
  left: 110%;
  position: absolute;
}

footer .pagination::before {
  content: url("../img/aluno-questao/paginacao.svg");
  transform: rotate(180deg);
  display: inline-block;
  cursor: pointer;
  top: 2px;
  right: 112%;
  position: absolute;
}

footer ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

footer ul.pagination li {
  display: inline;
}

footer ul.pagination li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #2c313b;
  padding: 1px 5px 2px;
  text-decoration: none;
}

footer .p-paginacao {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #4e5057;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

footer ul.pagination li a.active-paginacao {
  background: #f58e08;
  border-radius: 100%;
}

footer ul.pagination li a:hover:not(.active-paginacao) {
  background-color: #fff;
  border-radius: 100%;
}

footer .centro-simulado-rodape {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 112%;
  /* identical to box height, or 15px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: #4e5057;
}

footer .qtd-quest {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

footer .qtd-quest h4 {
  margin: 0 10px;
}

footer .finalizar-simulado-mobile {
  display: none;
}

footer .tempo-valor.active-time {
  display: flex;
}

@media (max-width: 1024px) {
  #questao .titulo.desktop {
    display: none;
    margin-right: 0;
  }
  #questao .porcentagem-final {
    margin-left: 10px;
  }
  #questao .numero-questao {
    align-items: center;
  }
  #questao .numero-questao .mobile {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    cursor: pointer;
  }
}

@media (max-width: 840px) {
  footer .finalizar-simulado-mobile {
    display: flex !important;
    cursor: pointer !important;
  }
  footer .finalizar-simulado-mobile img {
    width: 20px !important;
  }
}

@media (max-width: 500px) {
  #questao .numero-questao p {
    font-size: 12px !important;
  }
  footer .paginacao {
    margin-right: 30px;
  }
  footer .pagination::after {
    display: none;
  }
  footer .pagination::before {
    display: none;
  }
}
