* {
    padding: 0;
    margin: 0;
}

body,
html {
    min-height: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
    font: normal 16px "Montserrat";
    background: #f2f2f2;
}

.mobile {
    display: none;
}
.fa-ellipsis-v:before {
    cursor: pointer !important;
}

#navbar-lateral {
    background: #282c35;
    display: flex;

    z-index: 1000000;
    position: fixed;
    width: 230px;
    height: 100vh;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .logo-menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .fa-ellipsis-v {
            color: #F2F2F2;
        }
    }

    .logo {
        margin-top: 20px;
    }

    .nav-item {
        white-space: nowrap;
    }
    
    ul {
        list-style: none;
        a {
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            color: #d7d5d4;
        }

        .item-link {
            margin-left: 10px;
        }

        .item-apostila {
            a {
                color: #F58E08;
            }
    
        }
    }

    li {
        display: flex;
        align-items: center;

        transition: 0.15s;
    }

    .help {
        font: bold 14px "Montserrat", sans-serif;
        letter-spacing: 1.5px;
        
        h4 {
            margin-bottom: 15%;
            color: #D7D5D4;
        }
        li {
            font-weight: 500;
            list-style: none;
            margin-bottom: 5%;
            color: #D7D5D4;
            a {
                text-decoration: none;
            }
            a:link,
            a:visited {
                text-decoration: none;
                color: #D7D5D4;
            }
        }
    }

    .menu {
        height: 100%;


        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .itens-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 50%;
    }
}


#navbar {
    background: #282c35;
    padding: 20px 0;
    width: 100%;
    position: absolute;

    nav {
        width: 100%;

        i {
            color: #fff;
        }
        
    }
    .drop {
        display: none;
    }

    .conteudo {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .conteudo-interno {
        width: 100% !important;
        display: flex;
        justify-content: flex-end;

        p {
            color: #F2F2F2;
        }
    }

    .conteudo-interno2 {
        width: 100%;
        margin-left: 240px;
        display: flex;
        align-items: center;
    }

    form {
        width: 100%;
        position: relative;

        input {
            padding: 5px;
            padding-right: 30px;
            background: #282c35;
            border: 0.2px solid #fff;
      
            border-radius: 17.5px;
            margin-left: 10%;
            color: #fff;
        }

        .buscar {
            position: absolute;
            top: 0;
            right: -70px;
   
            border: none;
            background: transparent;
            outline: none;

            color: #fff;
            height: 100%;
        }

        .campo-busca {
            position: relative;
            width: 470px;
        }

        .campo-busca input {
            width: 100%;
        }
    }
    .direita {
        a {
            text-decoration: none;
        }
        display: flex;
        align-items: center;
       
    }

    .texto {
        margin-right: 10px;
    }
    .imagem {
        margin-right: 30px;
    }
}

#questao {
    min-height: 100vh;
    padding-left: 245px;
    .voltar {
        padding-top: 90px;
    }
    .icones {
        display: flex;
        font: 400 13px "Montserrat";
        line-height: 12px;
        .home {
            margin-right: 10px;
        }
        .seta {
            margin-right: 10px;
        }
        a {
            color: #282c35;
            text-decoration: none;
        }
        a:visited,
        a:hover,
        a:link {
            text-decoration: none;
        }
    }
    .titulo {
        margin-top: 20px;
        color: #282c35;
        font: 700 20px "Montserrat";
    }
    .conteudo {
        padding: 25px 0 0 15px;

        .numero-questao {
            display: flex;
            .mobile {
                display: none;
            }
            justify-content: space-between;
            text-align: start;
            color: #4e5057;
            p {
                display: inline;
            }
            .segundaparte {
                color: #818284;
            }
        }
        .enunciado {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            .texto {
                margin-bottom: 30px;
            }
            h2 {
                display: inline;
                color: #2c313b;
                font-weight: inherit;
            }
        }
        .imagem-enunciado {
            img {
                width: 100%;
            }
        }

        .questionamento {
            margin: 20px 0;
        }

        .alternativas {
            ul {
                list-style: none;
            }
            input {
                display: none;
                margin-bottom: 20px;
            }
            .custom-radio {
                margin-bottom: 20px;
            }
            .custom-radio input + label:before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: white;
                border: 3px solid rgb(50, 54, 65);
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                margin-bottom: 3px;
            }

            .custom-radio input:checked + label:before {
                width: 16px;
                height: 16px;
                background: #f58e08;
                box-sizing: border-box;
                padding: 2px;
            }
        }
    }
    .submissao {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 15px !important;

        .ou {
            margin: 0 8px !important;
        }
    }
    .button {
        background: #efaa51;

        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5% 2px 15px;
        font: 500 16px "Roboto";
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    .questao-duvida {
        margin: 20px 0 30px 0;
    }
    .check {
        margin-left: 15px;
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 12px !important;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        width: 15%;

        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
        }
    }

    .check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 13px;
        background-color: #d4d3d3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .check:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .check input:checked ~ .checkmark {
        background-color: #28f321;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .check input:checked ~ .checkmark:after {
        display: block;
    }

    .check .checkmark:after {
        left: 4px;
        top: 0px;
        width: 5px;
        height: 10px;
    }

    .check {
        white-space: nowrap;
        p {
            color: #4e5057;
        }
    }
}
.progress-bar-line {
    background: #e6e1dd;
    height: 2px;
    display: flex;
    padding-left: 230px;
}

.progress-bar-line::before {
    content: "";
    width: 20%;
    background-color: #f58e08;
}
#footer {
    background: #e6e1dd;

    padding: 2%;
    padding-left: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .qtd-quest {
        margin-right: 15px;
    }
    .back,
    .next {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 112%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .back,
    .next,
    .centro {
        display: flex;
        height: 40px;
        .texto-next,
        .texto-back {
            margin: 0 20px;
        }
    }
    .img-back,
    .img-next,
    .texto-back,
    .texto-next {
        display: flex;
        align-items: center;
        color: #4e5057;
        white-space: nowrap;
    }

    .texto-next {
        text-align: end;
        
    }

    .img-back,
    .img-next {
        img {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
        }
    }
    select {
        border: 1px solid rgba(0, 0, 0, 0.7);
        border-radius: 5px;

        background: #e6e1dd;
    }
    .centro {
        width: 50%;
        height: 100%;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        color: #4e5057;

        display: flex;
        align-items: center;

        .qtd-quest {
            display: flex;
            width: 40%;
            h4 {
                margin-right: 4px;
                margin-left: 8px;
            }
        }

        .imagem4,
        .imagem3,
        .imagem2,
        .imagem1 {
            img {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
        .imagens {
            width: 30%;
            display: flex;
            justify-content: space-around;
        }
        select {
            margin: 0 3%;
            padding: 0 3%;
        }
    }
}

@media (max-width: 1200px) {
    #footer {
        .link-img {
            img {
                width: 20px;
                height: auto;
            }
        }
        .centro {
            .qtd-quest {
                width: 50%;
                h4 {
                    font-size: 13px;
                }
            }
        }
        
    }
}

@media (max-width: 1072px) {
    #navbar {
        input {
            margin-left: 20px;
        }
    }

    #footer {
        .centro {
            width: 40%;
        }
    }
}

@media (max-width: 1050px) {
    .texto-next p {
        font-size: 13px;
    }
    .texto-back p {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .hide {
        display: none !important;
    }

    .tela {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        background: #020202d0;
    }
    
    .drop1 {
        margin-left: -1000px;
    
        transition: 3s;
    }
    
    .nav-out{
        animation: vai 0.5s;
    }
    .nav-in{
        animation: vem 0.5s;
    }
    
    
    @keyframes vem {
        from {margin-left: -250px;}
        to {margin-left: 0;}
    }
    @keyframes vai{
        from {margin-left: 0;}
        to {margin-left: -250px;}
    }
    
    
    .centro {
        padding-top: 10px !important;
        margin: 0;
        display: flex;
        justify-content: space-between !important;
        .desktop {
            display: none;
        }
        .qtd-quest {
            justify-content: space-between !important;
            width: 40px !important;
            margin-right: 0 !important;
            order: 2;

            h4 {
                font-size: 10px;
            }
        }
        .imagens {
            order: 1;
        }
        .imagem1,
        .imagem2,
        .imagem3 {
            margin-right: 20px;
        }
    }

    #navbar {
        .conteudo-interno2 {
            margin-left: 20px;
        }
        .drop {
            display: flex;
        }
        form {
            .campo-busca {
                position: relative;
                width: 300px;
            }

            .buscar {
                right: -53px;
            }
    
        }
    }

    #questao {
        .check {
            margin-left: 0;
            white-space: nowrap;
            p {
                font-size: 10px !important;
            }
        }
        padding: 0 5%;
        .titulo {
            font-size: 15px;
            border-bottom: 1px solid rgb(50, 54, 65);
        }
        .conteudo {
            padding-right: 0;
            padding-left: 0;
        }
        .submissao {
            width: 100%;
            padding: 0;
            margin: 0;
            height: 100%;
            margin: 0 !important;
            justify-content: center;

            .button {
                font-size: 12px;
                box-shadow: none;
                text-shadow: none;
            }
        }

        .conteudo {
            .numero-questao {
                p {
                    font-family: Montserrat;
                    font-style: normal;
                    font-size: 16px;
                }
                .mobile {
                    display: flex;
                }
            }
        }
    }

    #footer {
        padding-left: 0;
        padding: 2%;
        
    }

    .progress-bar-line {
        padding: 0;
    }
}

@media (max-width: 840px) {
    #footer {
        .desktop {
            display: none;
        }
    }
}

@media (max-width: 600px){
    #navbar {
        form {
            .campo-busca {
                position: relative;
                width: 200px;
            }
            .buscar {
                right: -45px;
            }
        }
    }
    .progress-bar-line {
        display: none;
    }
    .questao-duvida {
        margin-left: 20px !important;
    }
}

@media (max-width: 499px) {
    #questao .conteudo .enunciado .texto h2 {
        font-weight: 600;
        font-size: 12px;
    }
    #questao {
        padding-left: 0;
        padding-right: 0;

        .conteudo {
            padding-bottom: 0;
            .enunciado {
                .texto {
                    font-size: 12px !important;
                    h2 {
                        font-weight: 600;
                        font-size: 12px;
                    }
                }
            }
            .alternativas {
                .custom-radio input + label:before {
                    width: 6px;
                    height: 6px;
                    margin-right: 10px;
                }
                .custom-radio input:checked + label:before {
                    width: 12px;
                    height: 12px;
                }
            }

            form {
                font-size: 12px;
            }
        }
        .questionamento {
            p {
                font-size: 12px;
                line-height: 15px;
            }
        }
        .conteudo,
        .titulo,
        .icones {
            margin-left: 5%;
            margin-right: 5%;
        }
        .submissao {
            display: flex;
            justify-content: space-between !important;
            .ou {
                margin: 0 !important;
            }
            .button {
                display: flex;
                align-items: center;
                border-radius: 0;
                margin-bottom: 0;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;

                height: 22px;
                white-space: nowrap;
            }

            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;

                color: #4e5057;
            }
            .enviar {
                .button {
                    padding-right: 10px !important;
                }
            }

            .conferir {
                .button {
                    padding-left: 10px !important;
                }
            }
            .enviar,
            .conferir {
                display: flex;
                align-items: flex-end !important;
            }
            .ou {
                width: 100% !important;
                text-align: center;
            }
        }
    }
    
    #navbar {
        padding: 13px 0;
    }

    #footer {
        .img-back,
        .img-next {
            img {
                padding-left: 10px;
                padding-right: 15px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
        .desktop {
            display: none;
        }
        .centro {
            width: 100%;
            display: flex !important;

            justify-content: center !important;
        }

        .selecionar {
            display: flex;
            align-items: center !important;
            margin-left: 55px;
        }
    }
}

@media (max-width: 411px) {
    #navbar {
        form {
            .campo-busca {
                position: relative;
                width: 100px;
            }
            .buscar {
                right: -40px;
            }
            .conteudo-interno2 {
                justify-content: space-between !important;
            }
        }
    }
}

@media (max-width: 360px) {
    #questao {
        .titulo {
            h1 {
                font-size: 20px;
            }
        }
    }
}
