

#questao {
    .simulados {
        border-radius: 5px 5px 0 0;
    }
    .continuar-simulado {
        display: flex;
        p {
            margin-left: 20px;
        }
    }
    .meus-graficos a {
        padding: .2% 1%;
        background: #f58e08;

        border-radius: 5px;
        white-space: nowrap;

        cursor: pointer;

        &:hover {
            opacity: 0.9;
            transition: 0.5s opacity;
        }
    }
    .p-sem {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;

        color: #595959;
    }
    .p-questoes-simulado.mobile {
        display: none;
    }
    .p-questoes-simulado {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        text-align: center;

        color: #595959;
        text-shadow: none;
        margin-bottom: 15px;

        cursor: default !important;
    }
    .finalizar-simulado {
        display: flex;
        flex-direction: column;
    }
    .situacao {
        flex-wrap: wrap;
    }
    .situacao-agendado {
        flex-direction: column;
    }
}

@media (max-width: 1160px){
    #questao {
        .situacao .continuar-simulado p {
            margin-left: 0;
            margin-right: 20px;
        }
    }
}

@media (max-width: 770px) {
     #questao {
         .p-sem-aberto, .p-sem {
            color: #848484 !important;
            font-size: 10px !important;
            text-align: start;
         }
         .continuar-simulado {
            p {
                margin-left: 0;
                margin-right: 20px;
                font-size: 10px;
            }
        }
        .p-questoes-simulado.desktop {
            display: none;
        }
        .p-questoes-simulado.mobile {
            display: flex;
        }
        .situacao-finalizado {
            flex-direction: row;
        }
        .finalizar-simulado {
            margin-top: 0;
        }
        .simulado-informativo {
            margin-bottom: 12px;
        }
//         #simulados-situacao div {
//             color: #7D7D7D;
//         }
        
     }
}

[data-tab-content] {
    display: none;
}

.ativar_situacao[data-tab-content] {
    display: block;
}

.ativar_situacao .p-situacao {
    color: #bbbcbf;
}

.ativar_status {
    display:flex !important;
}
.hide_status, .hide_graficos {
    display: none !important;
}

.ativar_graficos {
    display: block !important;
}