* {
  padding: 0;
  margin: 0;
}

body,
html {
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
  font: normal 16px "Montserrat";
  background: #f2f2f2;
}

.mobile {
  display: none;
}

.fa-ellipsis-v:before {
  cursor: pointer !important;
}

#navbar-lateral {
  background: #282c35;
  display: flex;
  z-index: 1000000;
  position: fixed;
  width: 230px;
  height: 100vh;
}

#navbar-lateral nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#navbar-lateral nav .logo-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-lateral nav .fa-ellipsis-v {
  color: #F2F2F2;
}

#navbar-lateral .logo {
  margin-top: 20px;
}

#navbar-lateral .nav-item {
  white-space: nowrap;
}

#navbar-lateral ul {
  list-style: none;
}

#navbar-lateral ul a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #d7d5d4;
}

#navbar-lateral ul .item-link {
  margin-left: 10px;
}

#navbar-lateral ul .item-apostila a, #navbar-lateral ul .item-materia a, #navbar-lateral ul .item-simulado a, #navbar-lateral ul .item-monitor a, #navbar-lateral ul .item-home a, #navbar-lateral ul .item-perfil a, #navbar-lateral ul .item-seguir-questao a, #navbar-lateral ul .item-anotacao a, #navbar-lateral ul .item-simulado a {
  color: #F58E08;
}

#navbar-lateral li {
  display: flex;
  align-items: center;
  transition: 0.15s;
}

#navbar-lateral .help {
  font: bold 14px "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

#navbar-lateral .help h4 {
  margin-bottom: 15%;
  color: #D7D5D4;
}

#navbar-lateral .help li {
  font-weight: 500;
  list-style: none;
  margin-bottom: 5%;
  color: #D7D5D4;
}

#navbar-lateral .help li a {
  text-decoration: none;
}

#navbar-lateral .help li a:link,
#navbar-lateral .help li a:visited {
  text-decoration: none;
  color: #D7D5D4;
}

#navbar-lateral .menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#navbar-lateral .itens-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

#navbar {
  background: #282c35;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  z-index: 666;
}

#navbar nav {
  width: 100%;
}

#navbar nav i {
  color: #fff;
}

#navbar .drop {
  display: none;
}

#navbar .conteudo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#navbar .conteudo-interno {
  width: 100% !important;
  display: flex;
  justify-content: flex-end;
}

#navbar .conteudo-interno p {
  color: #F2F2F2;
}

#navbar .conteudo-interno2 {
  width: 100%;
  margin-left: 240px;
  display: flex;
  align-items: center;
}

#navbar form {
  width: 100%;
  position: relative;
}

#navbar form input {
  padding: 5px;
  padding-right: 30px;
  background: #282c35;
  border: 0.2px solid #fff;
  border-radius: 17.5px;
  margin-left: 10%;
  color: #fff;
}

#navbar form .buscar {
  position: absolute;
  top: 0;
  right: -70px;
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  height: 100%;
}

#navbar form .campo-busca {
  position: relative;
  width: 470px;
}

#navbar form .campo-busca input {
  width: 100%;
}

#navbar form .fa {
  cursor: pointer;
}

#navbar .direita {
  display: flex;
  align-items: center;
}

#navbar .direita a {
  text-decoration: none;
}

#navbar .texto {
  margin-right: 10px;
}

#navbar .imagem {
  margin-right: 30px;
}

#questao {
  min-height: 100vh;
  padding-left: 245px;
}

#questao .voltar {
  padding-top: 90px;
}

#questao .icones {
  display: flex;
  font: 400 13px "Montserrat";
  line-height: 12px;
}

#questao .icones .home {
  margin-right: 10px;
}

#questao .icones .seta {
  margin-right: 10px;
}

#questao .icones a {
  color: #282c35;
  text-decoration: none;
}

#questao .icones a:visited,
#questao .icones a:hover,
#questao .icones a:link {
  text-decoration: none;
}

#questao .titulo {
  margin-top: 20px;
  color: #282c35;
  font: 700 12px "Montserrat";
  padding-left: 15px;
}

#questao .conteudo {
  padding: 10px 0 0 15px;
}

#questao .conteudo .numero-questao {
  display: none;
  justify-content: space-between;
  text-align: start;
  color: #4e5057;
}

#questao .conteudo .numero-questao p {
  display: inline;
}

#questao .conteudo .numero-questao .segundaparte {
  color: #818284;
}

#questao .conteudo .enunciado {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-right: 70px;
}

#questao .conteudo .enunciado .texto {
  margin-bottom: 30px;
}

#questao .conteudo .enunciado .imagem-enunciado img {
  width: 100%;
  max-width: 500px;
}

#questao .conteudo .enunciado h2 {
  display: inline;
  color: #2c313b;
  font-weight: inherit;
}

#questao .conteudo .questionamento {
  margin: 20px 0;
}

#questao .conteudo .alternativas ul {
  list-style: none;
}

#questao .conteudo .alternativas input {
  display: none;
  margin-bottom: 20px;
}

#questao .conteudo .alternativas .custom-radio {
  margin-bottom: 20px;
}

#questao .conteudo .alternativas .custom-radio input + label:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #323641;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 3px;
}

#questao .conteudo .alternativas .custom-radio input:checked + label:before {
  width: 16px;
  height: 16px;
  background: #f58e08;
  box-sizing: border-box;
  padding: 2px;
}

#questao .titulo.mobile {
  display: none;
}

#questao .submissao {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 15px !important;
}

#questao .submissao .ou {
  margin: 0 8px !important;
}

#questao .button {
  background: #efaa51;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5% 2px 15px;
  font: 500 16px "Roboto";
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#questao .questao-duvida {
  margin: 20px 0 30px 0;
}

#questao .check {
  margin-left: 15px;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px !important;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 15%;
}

#questao .check p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}

#questao .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#questao .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #d4d3d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#questao .check:hover input ~ .checkmark {
  background-color: #ccc;
}

#questao .check input:checked ~ .checkmark {
  background-color: #28f321;
}

#questao .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#questao .check input:checked ~ .checkmark:after {
  display: block;
}

#questao .check .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
}

#questao .check {
  white-space: nowrap;
}

#questao .check p {
  color: #4e5057;
}

.progress-bar-line {
  background: #e6e1dd;
  height: 2px;
  display: flex;
  padding-left: 230px;
}

.progress-bar-line::before {
  content: "";
  width: 20%;
  background-color: #f58e08;
}

#footer {
  background: #e6e1dd;
  padding: 2%;
  padding-left: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .qtd-quest {
  margin-right: 15px;
}

#footer .imagens img {
  cursor: pointer;
}

#footer .back,
#footer .next {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 112%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footer .back,
#footer .next,
#footer .centro {
  display: flex;
  height: 40px;
}

#footer .back .texto-next,
#footer .back .texto-back,
#footer .next .texto-next,
#footer .next .texto-back,
#footer .centro .texto-next,
#footer .centro .texto-back {
  margin: 0 20px;
}

#footer .img-back,
#footer .img-next,
#footer .texto-back,
#footer .texto-next {
  display: flex;
  align-items: center;
  color: #4e5057;
  white-space: nowrap;
}

#footer .texto-next {
  text-align: end;
}

#footer .img-back img,
#footer .img-next img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

#footer select {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  background: #e6e1dd;
}

#footer .centro {
  width: 50%;
  height: 100%;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #4e5057;
  display: flex;
  align-items: center;
}

#footer .centro .qtd-quest {
  display: flex;
  width: 40%;
}

#footer .centro .qtd-quest h4 {
  margin-right: 4px;
  margin-left: 8px;
}

#footer .centro .imagem4 img,
#footer .centro .imagem3 img,
#footer .centro .imagem2 img,
#footer .centro .imagem1 img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#footer .centro .imagens {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

#footer .centro select {
  margin: 0 3%;
  padding: 0 3%;
}

@media (max-width: 1200px) {
  #footer .link-img img {
    width: 20px;
    height: auto;
  }
  #footer .centro .qtd-quest {
    width: 50%;
  }
  #footer .centro .qtd-quest h4 {
    font-size: 13px;
  }
}

@media (max-width: 1072px) {
  #navbar input {
    margin-left: 20px;
  }
  #footer .centro {
    width: 40%;
  }
}

@media (max-width: 1050px) {
  .texto-next p {
    font-size: 13px;
  }
  .texto-back p {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .hide {
    display: none !important;
  }
  .tela {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: #020202d0;
  }
  .drop1 {
    margin-left: -1000px;
    transition: 3s;
  }
  .nav-out {
    animation: vai 0.5s;
  }
  .nav-in {
    animation: vem 0.5s;
  }
  @keyframes vem {
    from {
      margin-left: -250px;
    }
    to {
      margin-left: 0;
    }
  }
  @keyframes vai {
    from {
      margin-left: 0;
    }
    to {
      margin-left: -250px;
    }
  }
  .centro {
    padding-top: 10px !important;
    margin: 0;
    display: flex;
    justify-content: space-between !important;
  }
  .centro .desktop {
    display: none;
  }
  .centro .qtd-quest {
    justify-content: space-between !important;
    width: 40px !important;
    margin-right: 0 !important;
    order: 2;
  }
  .centro .qtd-quest h4 {
    font-size: 10px;
  }
  .centro .imagens {
    order: 1;
  }
  .centro .imagem1,
  .centro .imagem2,
  .centro .imagem3 {
    margin-right: 20px;
  }
  #navbar .conteudo-interno2 {
    margin-left: 20px;
  }
  #navbar .drop {
    display: flex;
    z-index: 800;
  }
  #navbar form .campo-busca {
    position: relative;
    width: 300px;
  }
  #navbar form .buscar {
    right: -53px;
  }
  #questao {
    padding: 0 5%;
  }
  #questao .check {
    margin-left: 0;
    white-space: nowrap;
  }
  #questao .check p {
    font-size: 10px !important;
  }
  #questao .icones {
    display: none;
  }
  #questao .titulo.desktop {
    display: none;
  }
  #questao .titulo.mobile {
    display: flex;
  }
  #questao .titulo {
    font-size: 15px;
    border-bottom: 1px solid #323641;
    padding-left: 0;
  }
  #questao .conteudo {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  #questao .conteudo .enunciado {
    padding-right: 0 !important;
  }
  #questao .submissao {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    margin: 0 !important;
    justify-content: center;
  }
  #questao .submissao .button {
    font-size: 12px;
    box-shadow: none;
    text-shadow: none;
  }
  #questao .conteudo .numero-questao {
    display: flex;
  }
  #questao .conteudo .numero-questao p {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
  }
  #questao .conteudo .numero-questao .mobile {
    display: flex;
  }
  #footer {
    padding-left: 0;
    padding: 2%;
  }
  .progress-bar-line {
    padding: 0;
  }
}

@media (max-width: 840px) {
  #footer .desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  #navbar form .campo-busca {
    position: relative;
    width: 200px;
  }
  #navbar form .buscar {
    right: -45px;
  }
  .progress-bar-line {
    display: none;
  }
  .questao-duvida {
    margin-left: 20px !important;
  }
}

@media (max-width: 499px) {
  #questao .conteudo .enunciado .texto h2 {
    font-weight: 600;
    font-size: 12px;
  }
  #questao {
    padding-left: 0;
    padding-right: 0;
  }
  #questao .titulo {
    font-size: 12px !important;
  }
  #questao .conteudo {
    padding-bottom: 0;
  }
  #questao .conteudo .enunciado .texto {
    font-size: 12px !important;
  }
  #questao .conteudo .enunciado .texto h2 {
    font-weight: 600;
    font-size: 12px;
  }
  #questao .conteudo .alternativas .custom-radio input + label:before {
    width: 6px;
    height: 6px;
    margin-right: 10px;
  }
  #questao .conteudo .alternativas .custom-radio input:checked + label:before {
    width: 12px;
    height: 12px;
  }
  #questao .conteudo form {
    font-size: 12px;
  }
  #questao .questionamento p {
    font-size: 12px;
    line-height: 15px;
  }
  #questao .conteudo,
  #questao .titulo,
  #questao .icones {
    margin-left: 5%;
    margin-right: 5%;
  }
  #questao .submissao {
    display: flex;
    justify-content: space-between !important;
  }
  #questao .submissao .ou {
    margin: 0 !important;
  }
  #questao .submissao .button {
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 22px;
    white-space: nowrap;
  }
  #questao .submissao p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #4e5057;
  }
  #questao .submissao .enviar .button {
    padding-right: 10px !important;
  }
  #questao .submissao .conferir .button {
    padding-left: 10px !important;
  }
  #questao .submissao .enviar,
  #questao .submissao .conferir {
    display: flex;
    align-items: flex-end !important;
  }
  #questao .submissao .ou {
    width: 100% !important;
    text-align: center;
  }
  #navbar {
    padding: 13px 0;
  }
  #footer .img-back img,
  #footer .img-next img {
    padding-left: 10px;
    padding-right: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  #footer .desktop {
    display: none;
  }
  #footer .centro {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }
  #footer .selecionar {
    display: flex;
    align-items: center !important;
    margin-left: 55px;
  }
}

@media (max-width: 411px) {
  #navbar form .campo-busca {
    position: relative;
    width: 100px;
  }
  #navbar form .buscar {
    right: -40px;
  }
  #navbar form .conteudo-interno2 {
    justify-content: space-between !important;
  }
}

@media (max-width: 360px) {
  #questao .titulo h1 {
    font-size: 20px;
  }
}
