.anotacao--page {
  margin-left: 60px;
  padding: 0;
}

.anotacao--page select {
  background: #E6E1DD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px 0px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 112%;
  border: none;
  outline: none;
  padding: 10px;
}

.anotacao--page__body {
  padding: 15px;
}

.anotacao--page__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.anotacao--page__controls-date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #C4C4C4;
}

.anotacao--page__next-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.anotacao--page__next-prev h3 {
  margin-right: 20px;
  margin-left: 20px;
  color: #4E5057;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 112%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.anotacao--page__prev a, .anotacao--page__next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  text-decoration: none;
}

.anotacao--page__salvar-alteracoes-btn, .anotacao--page__salvar-alteracoes-btn:hover {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #F58E08;
  padding: 7px 42px;
  border-radius: 17px;
  margin-bottom: 30px;
  display: none;
  text-decoration: none;
}

.anotacao--controls {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

.anotacao--controls img {
  cursor: pointer;
  margin-left: 10px;
}

#modal-excluir-anotacao {
  border-radius: 20px;
}

#modal-excluir-anotacao .modal-content {
  border: none;
  background-color: #D7D5D4;
}

#modal-excluir-anotacao .modal-header {
  background-color: #282C35;
  padding: 0 5px;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

#modal-excluir-anotacao .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 154px;
  margin-top: 15px;
}

#modal-excluir-anotacao .modal-body h3 {
  color: #282C35;
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 30px;
}

#modal-excluir-anotacao .modal-body .btn {
  background-color: transparent;
  color: #282C35;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

#modal-excluir-anotacao .modal-body .btn.active {
  background-color: #F58E08;
  border-radius: 17px;
  color: #fff;
  margin-left: 25px;
  padding: 7px 30px;
}

#modal-excluir-anotacao .close {
  margin: 13px 5px;
  background-color: #F58E08;
  opacity: 1;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-excluir-anotacao .close span {
  color: #282C35;
  font-weight: bold;
  opacity: 1;
}
/*# sourceMappingURL=anotacao.css.map */