@charset "UTF-8";
#questao .cursinhos-admin {
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1% 3%;
  position: relative;
}

#questao .cursinho {
  background: #eaeaea;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
  margin-bottom: 10px;
}

#questao .cursinho img {
  width: 100px;
  height: auto;
}

#questao .border-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #282c35;
}

#questao .mensagem {
  width: calc(100% - 20%);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  /* or 139% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 10%;
  resize: none;
  color: #292323;
  overflow: hidden;
}

#questao .mensagem::-webkit-scrollbar {
  width: 2px;
  background-color: #E4E0E0;
}

#questao .mensagens {
  cursor: default;
}

#questao .passar-pagina {
  cursor: pointer;
}

#questao .alternativas-check {
  position: relative;
  width: 100%;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#questao .enviada-por {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10%;
  padding: 5% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

#questao .border-mensagem {
  border-bottom: 1px solid #282C35;
}

#questao input[type="checkbox"] + label:before {
  border: 1px solid #282c35;
  content: "\00a0";
  display: inline-block;
  font: 15px/1em sans-serif;
  height: 16px;
  margin: 3px 0.35em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 5px;
  color: #292323 !important;
}

#questao input[type="checkbox"]:checked + label:before {
  background: #282c35;
  color: #292323;
}

#questao input[type="checkbox"]:not(checked) {
  color: #292323;
}

#questao .checkbox {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #292323;
  line-height: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#questao .checkbox div {
  width: calc(100% - 16px);
}

#questao input[type="checkbox"] {
  display: none;
}

#questao .checkbox a,
#questao .checkbox a:link,
#questao .checkbox a:visited,
#questao .checkbox a:active {
  color: #292323;
}

#questao .paginacao {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

#questao .p-paginacao {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #4e5057;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

#questao .cursinhos-admin {
  margin: 0 5%;
  margin-top: 30px;
}

#questao .alternativas-check {
  position: relative;
}

#questao .data-mensagem {
  position: absolute;
  right: 0;
  bottom: -12px;
  font-size: 13px;
}

#questao select#ordenar {
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  height: 24px;
  padding: 0 4% 0 1%;
  font-size: 16px;
  line-height: 20px;
  color: #202020;
  cursor: pointer;
  margin-bottom: 10px;
}

#questao select#ordenar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px;
  background: #F2F2F2 url("../img/admin-dashboard/sdrop.svg") 95.5% 50% no-repeat;
}

#questao .filtrar-por,
#questao .ordenar-por {
  margin-top: 10px;
}

#questao .filtrar-por > label {
  color: #FFFFFF;
}

#questao select#filtrar1,
#questao select#filtrar2 {
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  height: 24px;
  padding: 0 2% 0 1%;
  font-size: 16px;
  line-height: 20px;
  color: #202020;
  cursor: pointer;
  margin-bottom: 10px;
}

#questao select#filtrar1,
#questao select#filtrar2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12%;
  padding: 0 3% 0 .5%;
  background: #282c35 url("../img/admin-dashboard/sdrop.svg") 95.5% 50% no-repeat;
  color: #FFFFFF;
}

/***************************************** PAGINAÇÃO **********************************/
#questao .paginacao {
  margin-bottom: 15px;
}

#questao .paginacao-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

#questao .paginacao-admin .circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  color: #2c313b;
  cursor: pointer;
}

#questao .paginacao-admin .circle-active {
  background-color: #f58e08;
}

#questao .paginacao-admin li {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  margin: 3px;
  /* identical to box height */
  color: #2c313b;
  text-decoration: none;
}

#questao .paginacao-admin .passar-pagina {
  width: auto;
  height: 15px;
  position: relative;
  -webkit-transform: translate(0%, 30%);
          transform: translate(0%, 30%);
}

@media (max-width: 770px) {
  #questao .icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao .mobile.seta-voltar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #questao select#filtrar1,
  #questao select#filtrar2 {
    color: #282C35;
    width: 120px;
    background: #ebe7e4 url("../img/admin-dashboard/sdrop.svg") 100% 50% no-repeat;
    margin-right: 10px;
  }
  #questao .filtrar-por > label {
    color: #282C35;
  }
  #questao select#ordenar {
    width: 100px;
  }
}

@media (max-width: 500px) {
  #questao .circle {
    font-size: 12px;
  }
}

@media (max-width: 499px) {
  #questao .icones {
    margin-left: 0;
    margin-right: 0;
  }
}
/*# sourceMappingURL=cursinho-mensagem.css.map */