.eject__footer {
  display: flex;
  color: #EBE7E4;
  justify-content: center;
  align-items: center;
  border-top: solid 2.6px #EBE7E4;
  position: absolute;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: #282C35;
}

.logo-rodape {
  display: flex;
}

.logo-rodape .p-logo {
  font-weight: bold;
  color: #EBE7E4;
}
