a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #D7D5D4;
}

footer {
    .mobile {
        display: none;
      }
    margin-top: 40px;
    padding-left: 245px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #D7D5D4;

    border-top: 2px solid #D7D5D4;
    .texto-rodape {
        display: flex;
        font: normal 14px "Montserrat", sans-serif;
        line-height: 17px;
    }
    .logo-rodape {
        display: flex;
        align-items: center;
        margin-left: 7px;
        transition: transform 0.5s;
    }
    .p-logo {
        margin-left: 3px;
        font-weight: 600;
    }

    .logo-rodape:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 1024px) {
    footer {
        padding-left: 0 !important;
    }
}

@media (max-width: 710px) {
    footer {
        border-top: 1px solid #c0c0c0;
        background-color: #d7d5d4;

        .texto-rodape {
            color: #28292f;
        }

        .p-logo {
            font-weight: 600;
            color: #28292f;
        }
        .mobile {
            display: flex;
        }
        .desktop {
            display: none;
        }
    }
}

@media (max-width: 770px) {
    footer {
        border-top: 1px solid #282c35;
    }
}

@media (max-width: 480px) {
    footer {
        .texto-rodape {
            font-size: 12px;
        }
    }
}

@media (max-width: 360px) {
    footer {
        .texto-rodape, .logo-rodape {
            font-size: 10px !important;
        }
    }

}