* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font: normal 16px "Montserrat";
}

/* Carrossel */
.owl-carousel .owl-item img {
    display: block;
    width: 7rem !important;
    height: auto;
    padding: 1rem;
    margin-right: auto !important;
    margin-left: auto !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px !important;
}

/* Nav */
.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.active {
    display: block;
}

#navbar {
    .itens {
        display: flex !important;
        align-items: center !important;
    }

    nav {
        padding: 0 5%;

        background-color: #282c35;
        text-align: center;

        a,
        button {
            text-align: center !important;
        }
    }

    button,
    input {
        overflow: visible;
    }

    button,
    select {
        text-transform: none;
    }

    select {
        word-wrap: normal;
    }

    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
    }

    .logo {
        margin: 5px 0;
    }

    .link-logo {
        display: flex;
    }

    .inicio-navbar {
        display: flex;
        align-items: center;

        .navbar-itens {
            display: flex;
            justify-content: space-between;
            list-style: none;

            .nav-item {
                margin-left: 35px;

                a:link,
                a:visited {
                    text-decoration: none;
                    color: #e6e1dd;
                }
            }

            .nav-item:hover {
                opacity: 0.85;
            }
        }
    }

    .botao-entrar {
        cursor: pointer;
        align-items: center;
        width: 100px;
        height: 34px;
        background: #f58e08;
        border: 0;
        border-radius: 17px;
        margin-left: 35px;
        color: #fff;
        line-height: 20px;
        font-weight: 500;
        font: normal 16px "Montserrat";
    }

    .botao-entrar:hover {
        opacity: 0.95;
    }
}

#inicio {
    display: flex;
    background-color: #282c35;
    height: 100%;

    .inicio-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #282c35;

        padding: 0 10%;

        .inicio-texto {
            font: 700 33px "Montserrat", sans-serif;
            color: #ffffff;
        }
    }
}

#quem-somos {
    padding: 6% 10%;
    background: #e6e1dd;
    min-height: 90vh;

    .overlay {
        display: flex;
        align-items: center;
    }
    .title {
        font: 700 35px "Montserrat", sans-serif;
        color: #282c35;
        border-bottom: 2px solid #282c35;
        display: inline;
    }
    .paragrafo {
        font: normal 18px "Montserrat";
        color: #282c35;
        margin: 7% 0;
    }

    .quem-somos-texto {
        order: 1;
    }

    .quem-somos-img {
        order: 2;
    }

    .missao {
        order: 3;
    }

    .visao {
        order: 4;
    }

    .valores {
        order: 5;
    }

    .cultura {
        display: flex;
        align-items: flex-start;
        margin-top: 7%;
        .check {
            display: flex;
            margin-top: 15%;
        }
        .check-val {
            display: flex;
        }
        .check-val {
            height: 20px;
            width: auto;
            margin-right: 5px;
        }
    }
    .valores-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        list-style: none;
        margin-left: 15%;
    }
    .visao {
        margin-right: 15%;
        margin-left: 15%;
    }

    font: normal 15px "Montserrat";
}

#simulacao {
    background: #282c35;
    padding: 6% 10%;
    min-height: 30vh;

    .overlay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4%;
    }
    .texto {
        width: 35%;
    }
    .title {
        font: 700 35px "Montserrat", sans-serif;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
        display: inline;
    }
    .paragrafo {
        font: 300 17px "Montserrat";
        line-height: 22px;
        color: #ffffff;
        padding-right: 5%;
    }
    .area {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }

    .area-img {
        display: flex;
        justify-content: center;

        width: 170px;
        height: 120px;
        border-radius: 20px;
        background: #e6e1dd;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        img {
            width: 155px;
            height: auto;
        }
    }

    .area-img:hover {
        transition: 0.5s;
        opacity: 0.9;
    }

    .area-conhecimento {
        display: flex;
        width: 65%;
        .area {
            margin-bottom: 3%;
            margin-right: 2%;
        }
    }

    .title-area {
        color: #e6e1dd;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        text-align: center;
        font: 700 15px "Montserrat";
        margin-top: 5%;
        border-radius: 20px;
    }
}

#parceiros {
    background: #e6e1dd;
    padding: 6% 10%;
    min-height: 10vh;

    .title {
        font: 700 35px "Montserrat", sans-serif;
        color: #282c35;
        border-bottom: 2px solid #282c35;
        display: inline;
    }

    .carrossel-img {
        width: 100%;
    }

    .carrossel-legenda {
        width: 100%;
    }
}

#contato {
    background: #282c35;
    padding: 6% 10%;
    min-height: 80vh;

    position: relative;

    .overlay {
        display: flex;
        justify-content: center;
    }
    .title {
        font: 700 35px "Montserrat", sans-serif;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
        display: inline;
    }
    .mensagem {
        margin-top: 5%;
        font: 300 25px "Montserrat", sans-serif;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
    }
    form {
        margin-top: 10%;
        label {
            font: 500 16px "Montserrat";
            color: #d7d5d4;
            padding-left: 3%;
        }
        input,
        textarea {
            text-align: justify;
            padding: 1% 2%;
            margin-top: 1%;
            margin-bottom: 5%;
            border: 2px solid #d7d5d4;
            background-color: #282c35;
            box-sizing: border-box;
            border-radius: 20px;
            color: #fff;
            font: 300 16px "Montserrat", sans-serif;
        }
        input {
            width: 540px;
            height: 40px;
        }
        textarea {
            resize: none;
            width: 540px;
            height: 170px;
        }
        .btn {
            text-align: center;
        }
        .btn-submit {
            background: #f58e08;
            border-radius: 17px;
            text-align: center;
            width: 150px;
            height: 34px;
            border: 0;
            color: #ffffff;
            font: 700 16px "Montserrat";
            line-height: 20px;
            cursor: pointer;
        }

        .btn-submit:hover {
            opacity: 0.9;
        }
    }
    .redes {
        display: flex;
        flex-direction: column;

        position: absolute;
        right: 10%;
        transform: translate(0, 95%);
    }
    .redes-img {
        display: flex;

        img:hover {
            opacity: 0.9;
        }
    }
    .redes-img-meio {
        margin: 55% 0;
    }
}

#rodape {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    background: #e6e1dd;

    .help {
        font: bold 16px "Montserrat", sans-serif;
        letter-spacing: 1.5px;
        h4 {
            margin-bottom: 15%;
            color: #282c35;
        }
        li {
            font-weight: 500;
            list-style: none;
            margin-bottom: 5%;
            color: #282c35;
            a {
                text-decoration: none;
            }
            a:link,
            a:visited {
                text-decoration: none;
                color: #282c35;
            }
        }
    }
}

@media (max-width: 1200px) {
    .area-conhecimento {
        flex-wrap: wrap;
        margin-top: 5%;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1150px) {
    .inicio-texto {
        h1 {
            font-size: 40px;
        }
    }
}

@media (max-width: 1150px) {
    .inicio-img {
        margin-top: 5%;
        img {
            width: 320px;
        }
    }
    #contato {
        min-height: 60vh;
    }
}

@media (max-width: 991px) {
    #contato {
        min-height: 80vh;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
    .nav-item {
        margin-left: 0 !important;
        padding: 1%;
    }
    .botao-entrar {
        margin-left: 0 !important;
        margin-bottom: 20px;
    }

    .inicio-wrap {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .owl-item {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .owl-carousel .owl-item img {
        width: 5rem !important;
        height: auto;
    }
    #navbar {
        .logo {
            width: 93px !important;
            height: auto !important;
        }
    }
    .inicio-navbar {
        display: none;
    }

    #inicio {
        height: auto;
    }

    .inicio-wrap {
        flex-flow: column wrap;
        .inicio-texto h1 {
            font-size: 30px;
            margin-top: 40%;
            margin-bottom: 25%;
        }
        .inicio-img {
            width: 50%;
            margin-right: 3%;
            padding: 0;
            align-content: flex-end;
        }
        img {
            width: 225px;
            margin-bottom: 25%;
            height: 198px;
            text-align: end;
        }
    }

    #quem-somos {
        padding-top: 57px !important;
        .title {
            font: bold 18px "Montserrat";
        }
        .paragrafo {
            font: 500 12px "Montserrat";
            line-height: 18px;
        }
        .overlay {
            flex-wrap: wrap;
        }
        .quem-somos-img {
            width: 100%;
            text-align: center;
        }
        .quem-somos-texto {
            order: 1;
        }

        .quem-somos-img {
            order: 2;
        }

        .missao {
            order: 3;
        }

        .visao {
            order: 4;
        }

        .valores {
            order: 5;
        }
        img {
            text-align: center;
            width: 274px;
            height: 182px;
        }
        .cultura {
            font: bold 10px "Montserrat";
            flex-wrap: wrap;
            padding-left: 0;
            .visao {
                margin-left: 0;
            }
            .check {
                text-align: left;
                .check-val {
                    text-align: left;
                    margin: 10% 0;
                }
                img {
                    height: 15px;
                    width: 15px;
                }
                .area-img {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .navbar-itens {
        flex-direction: column;
    }

    #simulacao {
        padding-top: 55px !important;
        .overlay {
            flex-direction: column;
        }
        .paragrafo {
            font: 400 12px "Montserrat";
            line-height: 15px;
        }
        .area {
            margin: 2% 2%;
        }
        .title {
            font: bold 18px "Montserrat";
        }
        .texto {
            width: 100%;
        }
        .area-conhecimento {
            flex-wrap: wrap;
            margin-top: 5%;
            width: 100%;
            justify-content: center;
        }
        img {
            .title {
                font: bold 18px "Montserrat";
            }
            .title-area {
                width: 100%;
            }
            .paragrafo {
                font: 500 12px "Montserrat";
                line-height: 18px;
            }
        }
    }

    #parceiros {
        padding-top: 55px !important;
        .title {
            font: bold 18px "Montserrat";
        }
    }

    #contato {
        padding-top: 55px !important;
        .title {
            font: bold 18px "Montserrat";
        }
        .mensagem {
            display: none;
        }
        form {
            width: 43vh;
        }
        label {
            font: 300 15px "Montserrat", sans-serif !important;
        }
        input,
        textarea {
            margin: 3% 0 !important;
            width: 100% !important;
        }
        input {
            height: 20% !important;
        }
        textarea {
            height: 15vh !important;
        }
        .redes {
            align-items: center;
            flex-direction: row-reverse;
        }
        .redes-img-meio {
            margin: 20vh 10%;
        }
        .btn-submit {
            font-size: 15px !important;
            width: 112px !important;
            height: 25.39px !important;
        }
    }
    #rodape {
        img {
            width: 130px;
            height: auto;
        }
        .help {
            font-size: 12px;
        }
    }
}

@media (max-width: 500px) {
    #simulacao {
        .title-area {
            font-size: 10px !important;
            width: 100px !important;
            margin-top: 5% !important;
        }
        .matematica,
        .natureza {
            margin-right: 30px !important;
        }
        .area-img {
            width: 100px !important;
            height: 65px !important;
            border-radius: 5px !important;
            img {
                width: 78px;
                height: auto;
            }
        }
    }
}

@media (max-width: 325px) {
    .inicio-wrap img {
        margin-right: 3% !important;
    }
    .redes {
        margin-top: 7%;
        img {
            width: 30px;
            height: auto;
        }
    }
}
