.alt-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.alt-titulo p, select {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.alt-titulo select {
  color: #F58E08;
  border: none;
  background: none;
}

.alt-titulo option {
  border: none;
  background: none;
  color: #000000;
}

.indicadores-cards {
  width: 95%;
  margin-top: 10px;
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indicadores-um-card {
  background: #E4E0E0;
  border-radius: 15px;
  width: 30%;
  min-height: 244px;
  margin: 0 1%;
  overflow-y: auto;
  height: 240px;
}

.indicadores-um-card::-webkit-scrollbar {
  width: 5px;
  background-color: #F0F0F0;
  height: 100%;
}

.indicadores-um-card::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  background-color: #F58E08;
}

.indicadores-um-card h3 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.indicadores-um-card span {
  font-size: 10px;
  padding: 0 20px;
}

.indicadores-linhas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.indicadores-linhas p {
  font-size: 12px;
}

.indicadores-nome {
  width: 80%;
}

.indicadores-nota {
  width: 20%;
}

.linha-escura {
  background: #C4C4C4;
}

.um-card-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alt-titulo-card h3 {
  margin-bottom: 25px;
}

.indicadores-grafico {
  background: #E4E0E0;
  border-radius: 15px;
  width: 89%;
  height: auto;
  margin-left: 4%;
  margin-top: 25px;
}

.alt-indicadores-um-card span {
  font-size: 48px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 25px 0;
  width: 100%;
  text-align: center;
}

.alt-indicadores-um-card {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.alt-indicadores-um-card h3 {
  width: auto;
  font-size: 20px;
}

.h3-alinhar-esquerda h3 {
  text-align: left;
}

.img-titulo img {
  margin: 0 10px;
}

.indicadores-do-aluno-nome {
  margin-left: 4%;
}

.indicadores-do-aluno-nome select {
  border: none;
  background: rgba(196, 196, 196, 0.33);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

.indicadores-grafico h3 {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

#questao .progresso-filtros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#questao .progresso-filtros-a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-decoration: underline;
  margin-top: -15px;
  margin-right: 25px;
  margin-bottom: 10px;
  color: #000000;
}

#questao .progresso-filtros-a-active {
  color: #F58E08;
}

@media (max-width: 770px) {
  .indicadores-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indicadores-um-card {
    width: 100%;
    margin-bottom: 30px;
  }
  .indicadores-grafico {
    margin: 0;
    width: 100%;
    overflow-x: auto;
  }
  #chart {
    min-width: 600px;
  }
}
/*# sourceMappingURL=indicadores.css.map */