.modal-finalizar-conteudo {
  padding: 10px 0 0 0;
}

.p-titulo-modal-finalizar {
  text-align: left;
  margin-left: 10px;
  font-size: 22px;
}

.modal-scroll {
  overflow-y: scroll;
}

.modal-finalizar-conteudo-cadastro {
  padding: 10px 10px;
}

.materias-label {
  color: #000;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 500;
}

.modal-finalizar-overlay .button-cadastro {
  margin-bottom: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.check-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label-modal div {
  font-family: "Montserrat", sans-serif;
  color: #282c35;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}

.input-modal {
  border: 1px solid #a29e9e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 3px 2px;
  width: 100%;
  margin-bottom: 10px;
}

.campo-meu-perfil {
  margin-right: 40px;
}

.left-column,
.right-column {
  margin: 10px;
}

.check-meu-perfil, .radio-meu-perfil {
  margin: 5px 0;
  margin-right: 20px;
}

input[type="checkbox"] {
  display: none;
  /* Esconde os inputs */
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 1px solid #00062B;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 13px;
  margin: 1px 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 13px;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label:before {
  background: #00062B;
}

.check {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #00062B;
  padding-left: 0;
}

.alternativas-check {
  margin-bottom: 5px;
  margin-right: 20px;
}

.campo label:not(.radio), .campo-select label:not(.radio) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #00062B;
  margin-right: 5px;
  white-space: nowrap;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  /* Esconde os inputs */
}

label {
  cursor: pointer;
}

input[type="radio"] + label:before {
  border: 1px solid #00062B;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 13px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 13px;
  border-radius: 5px;
}

input[type="radio"]:checked + label:before {
  background: #00062B;
}

.radio-meu-perfil {
  margin-top: 5px;
}

.alternativas-radio {
  margin: 0 0 5.5px 0;
}

.radio {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #00062B;
}

.left-column div {
  position: relative;
}

.input-modal {
  margin-bottom: 0;
}

.input-borda-red {
  border: 1px solid #FF0000;
}

.cpf-cadastrado {
  position: absolute;
  width: 100%;
  font-size: 10px;
  text-align: right;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cpf-cadastrado a {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cpf-cadastrado img {
  margin: 0 3px;
  width: 7px;
  height: 7px;
}

@media (max-width: 770px) {
  .modal-finalizar-overlay .button-cadastro {
    border-radius: 0 0 5px 5px;
  }
}

@media (max-width: 500px) {
  .check-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check, .radio {
    font-size: 13px;
  }
  .check-meu-perfil:first-child {
    margin-bottom: 0;
  }
  .check-meu-perfil:last-child {
    margin-top: 0;
  }
  .modal-finalizar-overlay .button-cadastro {
    padding: 5px 0;
  }
  .cpf-cadastrado {
    font-size: 8px;
  }
  .cpf-cadastrado a {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .cpf-cadastrado img {
    margin: 0 1px;
    width: 5px;
    height: 5px;
  }
}

@media (max-width: 499px) {
  .materias-label {
    font-size: 13px;
  }
  .check, .radio {
    font-size: 11px;
  }
  .p-titulo-modal-finalizar-cadastro {
    font-size: 15px;
    margin-left: 0;
  }
  .label-modal div {
    font-size: 15px;
    margin-top: 15px;
  }
  .perfil-label {
    font-size: 0;
  }
  .cpf-cadastrado a {
    text-align: left;
  }
  .perfil-label::after {
    font-size: 13px;
    content: 'Perfil';
  }
}
/*# sourceMappingURL=modal-cadastrar-aluno.css.map */