/*=====================MODAL========================*/
.deactivate {
  display: none;
}

.ativar {
  display: initial;
}

.editar {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.modal-overlay2 {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
}

.modal-overlay2.active2 {
  opacity: 1;
  visibility: visible;

  z-index: 9999999;
  transition: 0.5s;
}

.modal2 {
  background: #e6e1dd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 5px 5px;

  position: relative;
  width: 90%;
  max-width: 560px;

  margin-right: 20px;
  margin-left: 20px;
  z-index: 1;
}

.modal2 .video2 iframe {
  width: 100%;
  height: 350px !important;
}

.next-modal:hover,
.back-modal:hover {
  opacity: 0.75;
}

.modal2 .editar {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  height: 350px;
  width: 40%;
  z-index: 2;

  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notacao-full {
  width: 100% !important;
}

.modal2 .editar .conteudo {
  width: 100%;
  height: 100%;

  margin-bottom: 10px;
}

.editar.desativar {
  position: static;
  display: none;
}

.editar-habilitado {
  cursor: pointer;
}

.editar-icone.desativar,
.img2.desativar {
  display: none;
  position: static;
}

.modal2 .editar .titulo {
  display: flex;
  justify-content: center;

  width: 100%;
}

.modal2 .editar .titulo img {
  position: absolute;

  right: 0;
}

.modal2 .editar .titulo .icon-lixeira {
  top: 0;
  margin: 10px 40px;
}

.modal2 .editar .titulo .icon-zoom {
  top: 0;
  margin: 10px 10px;
}

.modal2 .editar .titulo p {
  font-size: 18px;
  margin-top: 70px;
  line-height: 22px;
}

.modal2 .editar .final {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.modal2 .editar .final .direita {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 41px;
  height: 17px;

  padding: 5px;

  border-radius: 6px 0px 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background: #e6e1dd;
}

.modal2 .editar form {
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal2 .editar .botao-enviar {
  background: #f58e08;
  border-radius: 17px;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;

  cursor: pointer;
  padding: 5px 10px;
}

.modal2 .editar .botao-enviar:focus {
  border: 0 none;
  outline: 0;
}

.modal2 .editar .final .direita .icon-editar {
  margin-left: 10px;
}

.modal2 .anotacoes form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 65%;
}

.modal2 .anotacoes textarea {
  margin-top: 10px;
  width: 90%;
  height: 90%;
  resize: none;
  background: #f2f2f2;
  border: none;
}

.modal2 .anotacoes textarea:focus {
  border: none;
  outline: 0;
}

.modal2 .video2 {
  width: 100%;
  height: 100%;
}

.modal2 .video2 video {
  width: 100%;
  height: 100%;
}

.modal2 .back,
.next {
  display: flex;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal2 .img-back {
  margin-right: 10px;
}

.modal2 .img-next {
  margin-left: 10px;
}

.modal2 .img-back,
.img-next img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.modal2 .anotacoes {
  border-radius: 5px 5px 0 0;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.modal2 .editar-icone {
  position: absolute;
  right: 0;
  bottom: 50px;

  cursor: pointer;
  z-index: 1;
  background: #e6e1dd;
  border-radius: 6px 0px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 27px;

  z-index: 1;

  padding: 2px;
}

.modal2 .editar-icone.desativar {
  display: none;
}

.modal2 .editar-icone img {
  z-index: 2;
}

.modal2 .editar-icone .img2 {
  margin-left: 7px;
  cursor: pointer;
}

.modal2 .editar-icone .img2:hover {
  opacity: 0.9;
}

.modal2 .video2 {
  position: relative;
}

.modal2 .video2 video {
  z-index: -2;
}

.modal2 .img-sair img {
  cursor: pointer;
  z-index: 10;
  height: 20px;
}

video:focus {
  outline: 0;
}

.modal2 .img-sair img:hover {
  opacity: 0.9;
}

.modal2 .anotacoes .resolucao {
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;
}

.modal2 .img-sair {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;

  border-radius: 5px 5px 0 0;

  background-color: #5c5e64;

  height: 30px;

  padding-right: 6px;
  order: 1 !important;
}

.modal2 .video2 {
  order: 2 !important;
}

.rodape-modal {
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape-modal .ir-anotacoes {
  display: none;
}

.rodape-modal .ir-anotacoes p {
  margin-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.rodape-modal .ir-anotacoes a {
  text-decoration: none;
}

a:visited,
a:hover,
a:link {
  color: inherit;
  text-decoration: none;
}

.rodape-modal .imagens {
  width: 30%;

  display: flex;
  justify-content: space-around;
}

.rodape-modal img {
  cursor: pointer;
}

.modal2 .questao-duvida,
.modal3 .questao-duvida {
  z-index: 20;
  background: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 5px 5px;
}

.modal2 .next,
.back {
  z-index: 2;
}

.modal2 .next,
.back {
  z-index: 2;
}

.modal2 .questao-duvida form {
  width: 100%;
}

.modal2 .data-hora {
  font-style: italic;
}

.modal2 .questao-duvida p {
  display: inline;
}

.modal2 .questao-duvida form {
  width: 100%;
}

.modal3 .questao-duvida p {
  display: inline;
}

.modal2 .checkmark {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #d4d3d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal2 .check:hover input ~ .checkmark {
  background-color: #ccc;
}

.modal2 .check input:checked ~ .checkmark {
  background-color: #28f321;
}

.modal2 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.modal2 .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal2 .check input:checked ~ .checkmark:after {
  display: block;
}

.modal2 .check .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
}

.modal2 .check {
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal2 .check p {
  color: #2c313b;
  font-size: 12px;

  display: flex;
  order: 2;
  margin-left: 7px;
}

@media (max-width: 645px) {
  .modal2 .editar .titulo p {
    font-size: 12px;
  }

  .modal2 .editar .final {
    margin-left: 5px;
    justify-content: start !important;
  }

  .modal2 .editar .final {
    margin-top: 17px;
    justify-content: start !important;
  }

  .modal2 .editar .final .editar-habilitado {
    margin-left: 2px;
    width: 17px;
  }

  .rodape-modal .ir-anotacoes {
    font-size: 10px;
  }

  .rodape-modal .ir-anotacoes img {
    width: 10px !important;
  }
}

@media (max-width: 450px) {
  .desktop {
    display: none;
  }
  .rodape-modal .imagens {
    width: 50% !important;
  }

  .modal-overlay2 .desktop {
    display: none;
  }
  .modal2 .img-sair img {
    width: 15px;
  }

  .modal2 .video2 video {
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
  }

  .modal2 .img-sair {
    height: 21px;
  }
}

/*EFEITOS*/
