
#modal-questoes{
    width: 55%;
}
#sair-questao{
    align-items: center;
    color: #f2f2f2;
    justify-content: space-between;
}
#sair-questao h2{
    margin-left: 2%;
}
.top-questoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
#pesquisa-questoes{
    border: 1px solid #D7D5D4;
    margin: 0;
    padding: 2px;
    border-radius: 40px;
    width: 50%;
    
}
#pesquisa-questoes input{
    border: none;
    width: 90%;
}
#pesquisa-questoes input:focus{
    outline: none;
}
#btn-pesquisar{
    background: none;
    padding: 0;
    margin: 0;
}
.top-questoes ul{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    list-style: none;
}
.top-questoes li{
    cursor: pointer;
}
.content::-webkit-scrollbar {
    width: 5px;
    background-color: #FFFFFF;
}
.content::-webkit-scrollbar-thumb {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    background-color: #f0f0f05e;
}
.content{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    height: 40vh;
}
.questao-modal{
    background: #EAEAEA;
    width: 90%;
    height: 10vh;
    margin: 1%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px #00000040;
}
.questao-modal span{
    font-weight: bold;
}
#btn-add-modal{
    margin: 0%;
    width: 100%;
    height: 5vh;
    border-radius: 0 0 15px 15px;
    color: white;
    background: #F58E08;
    
}