/*=====================MODAL========================*/
.modal-overlay1 {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: 0.5s;
}

.modal-overlay1.active1 {
  opacity: 1;
  visibility: visible;

  z-index: 999;
  transition: 0.5s;
}

.modal1 {
  background: #e6e1dd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 5px 5px;

  position: relative;
  width: 90%;
  max-width: 560px;

  z-index: 1;
}

.modal1 .video1 {
  width: 100%;
  height: 100%;
}

.modal1 .back,
.next {
  display: flex;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal1 .img-back {
  margin-right: 10px;
}

.modal1 .img-next {
  margin-left: 10px;
}

.modal1 .img-back,
.img-next img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.modal1 .anotacoes {
  border-radius: 5px 5px 0 0;
  padding: 0;
  margin: 0;
}

.modal1 .video1 {
  position: relative;
}

.modal1 .video1 iframe {
  width: 100%;
  height: 350px !important;
  border-radius: 5px 5px 0 0;
}

.modal1 .video1 video {
  margin-top: -1px;
  border-radius: 5px 5px 0 0;
}

.modal1 .img-sair {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px 5px 0 0;
}

.modal1 .img-sair img {
  cursor: pointer;
}

.modal1 .img-sair img:hover {
  opacity: 0.9;
}

.modal1 .anotacoes .resolucao {
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;
}

.rodape-modal {
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape-modal .imagens {
  width: 30%;

  display: flex;
  justify-content: space-around;
}

.rodape-modal img {
  cursor: pointer;
}

@media (max-width: 450px) {
  .desktop {
    display: none;
  }
  .rodape-modal .imagens {
    width: 50% !important;
  }
  .modal1 .anotacoes {
    display: flex;
    flex-direction: column;
  }
  .modal1 .img-sair {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;

    background-color: #5c5e64;

    height: 21px;

    padding-right: 6px;
  }

  .modal1 .img-sair img {
    width: 15px;
  }

  .modal1 .video1 {
    order: 2 !important;
  }

  .modal1 .video1 video {
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
  }

  .modal1 .img-sair {
    order: 1 !important;
  }
}
