#redefinir {
    background: #d7d5d4;
    .conteudo {
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        width: 85%;
        height: 100%;
        background: none;

        .coluna1 {
            padding: 0;
            margin-top: 5%;
            margin-right: 10px;
        }

        .paragrafo {
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;

                color: #2c313b;
            }
        }
        .texto-redefinir {
            font-family: Montserrat;
            font-style: italic;
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;

            margin-top: 40px;

            color: #2c313b;
        }

        .formulario2 {
            .linha {
                display: flex;

                align-items: flex-end;

                margin-top: 30px;
            }
            input {
                border: none;
                border-radius: 0;
                background: none;
                border-bottom: 1px solid #2c313b;
                color: #2c313b;
                line-height: 0;
                display: block;
                padding: 0 1% !important;

                height: 17px !important;
            }

            input:focus,
            select:focus {
                outline: 0;
            }
            .icon-editar {
                margin-left: 10px;
            }
            label {
                width: 130px;

                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 112%;

                display: flex;
                align-items: flex-end;

                color: #2c313b;
            }
            .conf-senha {
                width: 210px;
            }
        }

        button {
            background: #e6e1dd;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 30px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;

            width: 313px;
            height: 43px;
            color: #000000;

            text-transform: initial;
        }

        button:hover {
            opacity: 0.9;
        }

        .aviso {
            p {
                margin-top: 20px;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                color: rgba(0, 0, 0, 0.8);
            }
        }
    }
    .imagem-senha {
        img {
            margin-top: 20%;
            width: 479px !important;
            height: 331px !important;
        }
    }
}

@media (max-width: 1085px) {
    .desktop {
        display: none;
    }
}

@media (max-width: 1080px) {
    #redefinir {
        .conteudo {
            margin: 0 !important;
            .coluna1 {
                margin: 0 !important;
                width: 85% !important;
            }
            .imagem-senha {
                img {
                    width: 287px !important;
                    height: 199px !important;
                    position: fixed;
                    right: 0;
                    bottom: 0;
                }
            }
            .icon-editar {
                width: 11px;
                height: 11px;
            }
            button {
                width: 213px;
                height: 25px;
                background: #f58e08;
                color: #fff;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                border: none;
                border-radius: 17px;
            }
            .paragrafo {
                p {
                    font-size: 12px;
                    line-height: 15px;

                    color: #2c313b;
                }
            }
            .aviso {
                p {
                    font-size: 10px;
                    line-height: 10px;
                }
            }
            input {
                margin-bottom: 0;
            }
            .formulario2 {
                label {
                    font-size: 10px;
                }
            }
            .titulo {
                p {
                    border: none !important;
                }
            }
        }
    }
    #redefinir {
        .conteudo {
            .coluna1 {
                width: 80% !important;
                margin: 0 !important;
                height: 70%;
                margin: 0 auto !important;
            }
            .imagem-senha {
                img {
                    width: 287px !important;
                    height: 199px !important;
                    position: fixed;
                    right: 0;
                    bottom: 0;
                }
            }
            label {
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 320px) {
    #redefinir {
        .conteudo {
            .coluna1 {
                width: 90% !important;
                margin-top: 20px !important;
            }
        }
    }
}
