#questao {
    .alternativas {
        background: #dceedc;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        form {
            padding: 31px 0 0;
            .custom-radio {
                padding-left: 21px;
            }
            .correta {
                background: #a6dba5;
                padding-top: 0.5%;
                padding-bottom: 0.2%;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        .custom-radio input:checked + label:before {
            background: #74e185 !important;
        }
    }
    .gabarito {
        display: flex;
        border-top: 2px solid #d7d5d4;
        width: 100%;

        p {
            padding: 7px 21px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
        .p-resposta {
            padding-left: 26px;
        }
    }
    .mobile {
        display: none;
    }
}

@media (max-width: 499px) {
    #questao .gabarito p {
        padding: 0px 21px 21px;
    }
    #questao {
        .mobile {
            display: flex;
        }
        .alternativas {
            background: none !important;
            box-shadow: none !important;
        }
        .enunciado {
            .icon-correta {
                position: absolute;
                left: 3px;
            }
        }
        .correta {
            background: none !important;
            box-shadow: none !important;
        }
    }
    .alternativas form {
        padding: 0 !important;
    }
    .alternativas form .custom-radio {
        padding: 0 !important;
    }
    .gabarito {
        p {
            padding-left: 0 !important;
        }
    }
}

@media (max-width: 540px) and (min-width: 520px) {
    #questao {
        .mobile {
            display: flex;
        }
        .enunciado {
            .icon-correta {
                position: absolute;
                top: 219px;
                left: 5px;
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 700px) {
    #footer .texto-next {
        p {
            display: flex;
            text-align: end !important;
        }
    }
}
